@{
    ViewData["Title"] = "Risk Assessment Table";
    Layout = "_Layout";
}

<script type="text/javascript">

    function getrelation(parentEntityId = 0, userEntityId = 0) {


        $('#controlingsearch').empty();
        $('#childposting').empty();
        $.ajax({
            url: "/ApiCalls/getparentrel",
            type: "POST",
            data: {
                'ENTITY_REALTION_ID': $('#RelationshipField option:selected').val()
            },


            cache: false,
            success: function (data) {


                $('#controlingsearch').append('<option id="0" value="0">--Select Controlling/Reporting Office--</option>');
                $.each(data, function (index, contof) {

                    var selected = '';
                    if (contof.entitY_ID == parentEntityId)
                        selected = 'selected="selected"';

                    $('#controlingsearch').append('<option ' + selected + ' value="' + contof.entitY_ID + '" id="' + contof.entitY_REALTION_ID + '">' + contof.description + '</option>')
                });
                if (userEntityId != 0)
                    getplacepost(userEntityId)

                // console.log(data);

            },
            dataType: "json",
        });



    }

    function getplacepost(userEntityId = 0) {
        $('#childposting').empty();

        $.ajax({
            url: "/ApiCalls/getpostplace",
            type: "POST",
            data: {
                'E_R_ID': $('#controlingsearch option:selected').val()
            },


            cache: false,
            success: function (data) {
                $('#childposting').append('<option id="0" value="0" selected="selected">--Select Place of Posting--</option>');
                $.each(data, function (index, gpp) {

                    var selected = '';
                    if (gpp.entitY_ID == userEntityId)
                        selected = 'selected="selected"';
                    $('#childposting').append('<option ' + selected + ' value="' + gpp.entitY_ID + '" id="' + gpp.entitY_ID + '">' + gpp.c_NAME + '</option>')
                });
            },
            dataType: "json",
        });
        //  getrelation();

    }

    function getAuditEngagementPlans() {
        $('#engagementList').empty();
        $.ajax({
            url: "/ApiCalls/get_auditee_engagement_plan",
            type: "POST",
            data: {
                'ENTITY_ID': $('#childposting option:selected').val(),
                'PERIOD': $('#periodSelectionBox option:selected').val()
            },

            cache: false,
            success: function (data) {
                $('#engagementList').append('<option id="0" value="0" selected="selected">--Select Engagements--</option>');
                $.each(data, function (index, gpp) {
                    $('#engagementList').append('<option value="' + gpp.enG_ID + '" >' + gpp.status + '</option>')
                });
            },
            dataType: "json",
        });
    }

    function getAuditeeRisk() {
        $('#auditeeRiskAreaPanel tbody').empty();
        $.ajax({
            url: "/ApiCalls/get_auditee_risk",
            type: "POST",
            data: {
                'ENG_ID': $('#engagementList option:selected').val()
                
            },

            cache: false,
            success: function (data) {
                var sr = 1;
                var total_count_mx = 0;
                var total_count_m = 0;
                $.each(data, function (index, v) {
                    total_count_mx += parseInt(v.maX_NUMBER);
                    total_count_m += parseInt(v.marks);
                    $('#auditeeRiskAreaPanel tbody').append('<tr><td>' + sr + '</td><td>' + v.risK_AREAS + '</td><td>' + v.maX_NUMBER + '</td><td>' + v.marks + '</td></tr>')
                });

                $('#auditeeRiskAreaPanel tbody').append('<tr><td colspan="2">Total</td><td >' + total_count_mx + '</td><td colspan="3">' + total_count_m + '</td></tr>')
            },
            dataType: "json",
        });
        getAuditeeRiskDetails();
    }

    function getAuditeeRiskDetails() {
        $('#auditeeRiskAreaPanel_details tbody').empty();
        $.ajax({
            url: "/ApiCalls/get_auditee_risk",
            type: "POST",
            data: {
                'ENG_ID': $('#engagementList option:selected').val()
            },

            cache: false,
            success: function (data) {
                var sr = 1;
                var total_count_mx = 0;
                var total_count_m = 0;
                $.each(data, function (index, v) {
                    total_count_mx += parseInt(v.maX_NUMBER);
                    total_count_m += parseInt(v.marks);
                    $('#auditeeRiskAreaPanel_details tbody').append('<tr><td>' + sr + '</td><td>' + v.risK_AREAS + '</td><td>' + v.maX_NUMBER + '</td><td>' + v.nO_OBS + '</td><td>' + v.marks + '</td><td>' + v.avG_WEIGHT + '</td></tr>')
                });

                
            },
            dataType: "json",
        });

    }
</script>


<div class="col-md-12">
    <h3 style=" display:block;color: #45c545;">Risk Assessment of Audit Entities</h3>

    <div class="row col-md-12 mt-3">
        <div class="col-md-2">
            <label>Relationship Type</label>
        </div>
        <div class="col-md-10">
            <select id="RelationshipField" onchange="getrelation();" class="form-control form-select">
                <option id="0" value="0" selected="selected">--Select Relationship Type--</option>


                @{
                    if (ViewData["Userrelationship"] != null)
                    {
                        foreach (var item in (dynamic)(ViewData["Userrelationship"]))
                        {
                                    <option value="@item.ENTITY_REALTION_ID" id="@item.ENTITY_REALTION_ID">@item.FIELD_NAME</option>
                        }
                    }
                }



            </select>
        </div>
    </div>

    <div class="row col-md-12 mt-3">
        <div class="col-md-2">
            <label>Controlling/Reporting Office</label>
        </div>
        <div class="col-md-4">
            <select id="controlingsearch" onchange="getplacepost();" class="form-control form-select">
                <option id="0" value="0" selected="selected">--Select Controlling/Reporting Office--</option>
            </select>
        </div>


        <div class="col-md-2">
            <label>Place of Posting</label>
        </div>
        <div class="col-md-4">
            <select id="childposting" class="form-control form-select">
                <option id="0" value="0" selected="selected">--Select Place of Posting--</option>

            </select>
        </div>
    </div>


    <div class="row col-md-12 mt-3">
        <div class="col-md-2">
            <label class="font-weight-normal">Audit Period</label>
        </div>
        <div class="col-md-10">
            <select id="periodSelectionBox" onchange="getAuditEngagementPlans();" class="form-select form-control" aria-label="Default select example">
                <option value="0" selected>--Select Audit Period--</option>
                @{
                    if (ViewData["PeriodList"] != null)
                    {
                        foreach (var item in (dynamic)(ViewData["PeriodList"]))
                        {
                                    <option value="@item.AUDITPERIODID" id="@item.AUDITPERIODID">@item.DESCRIPTION</option>
                        }
                    }
                }
            </select>
        </div>
    </div>

    <div class="row col-md-12 mt-3">
        <div class="col-md-2">
            <label>Engagement</label>
        </div>
        <div class="col-md-10">
            <select id="engagementList" onchange="getAuditeeRisk();" class="form-control form-select">
                <option id="0" value="0" selected="selected">--Select Audit Engagement--</option>
            </select>
        </div>

    </div>

    <div class="row col-md-12 mt-3">
        <div class="row col-md-12">
            <table id="auditeeRiskAreaPanel" class="col-md-12 table-bordered table-hover mt-1 table-striped">
                <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                    <tr>
                        <th class="col-md-1">Sr. No.</th>
                        <th class="col-md-1">Risk Areas</th>
                        <th class="col-md-4">Max Number</th>
                        <th class="col-md-6">Marks</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <h5 style=" display:block;color: #45c545;">Details of Violation</h5>

    <div class="row col-md-12 mt-3">
        <div class="row col-md-12">
            <table id="auditeeRiskAreaPanel_details" class="col-md-12 table-bordered table-hover mt-1 table-striped">
                <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                    <tr>
                        <th class="col-md-1">Sr. No.</th>
                        <th class="col-md-1">Risk Areas</th>
                        <th class="col-md-4">Max Number</th>
                        <th class="col-md-6">No. of Observations</th>
                        <th class="col-md-6">Risk Based Mark</th>
                        <th class="col-md-6">Avg Weight</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>



</div>
