@{
    ViewData["Title"] = "Entites GM/Reporting Line Management";
    Layout = "_Layout";

}

<script type="text/javascript">
    $(document).ready(function () {

    });

    function getrelation(parentEntityId = 0, userEntityId = 0) {


        $('#controlingsearch').empty();
        $('#childposting tbody').empty();
        $('#complianceUnitArea').addClass('d-none');
        $('#AZOfficeArea').addClass('d-none');
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/getparentrel",
            type: "POST",
            data: {
                'ENTITY_REALTION_ID': $('#RelationshipField option:selected').val()
            },


            cache: false,
            success: function (data) {


                $('#controlingsearch').append('<option id="0" value="0">--Select Controlling/Reporting Office--</option>');
                $.each(data, function (index, contof) {

                    var selected = '';
                    if (contof.entitY_ID == parentEntityId)
                        selected = 'selected="selected"';

                    $('#controlingsearch').append('<option ' + selected + ' value="' + contof.entitY_ID + '" id="' + contof.entitY_REALTION_ID + '">' + contof.description + '</option>')
                });
                if (userEntityId != 0)
                    getplacepost(userEntityId)

            },
            dataType: "json",
        });



    }
    function getplacepost(userEntityId = 0) {
        $('#childposting tbody').empty();
        $('#complianceUnitArea').addClass('d-none');
        $('#AZOfficeArea').addClass('d-none');

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/getpostplace",
            type: "POST",
            data: {
                'E_R_ID': $('#controlingsearch option:selected').val()
            },


            cache: false,
            success: function (data) {
                $.each(data, function (index, gpp) {
                    $('#childposting tbody').append('<tr><td>' + ++index + '</td><td>' + gpp.c_NAME + '</td><td>' + gpp.gM_OFFICE + '</td><td>' + gpp.reporting + '</td><td class="text-center"><input type="checkbox" class="selectallMini" entId="' + gpp.entitY_ID + '" name="selectall" /></td></tr>');
                });
                if (data.length > 0) {
                    $('#complianceUnitArea').removeClass('d-none');
                    $('#AZOfficeArea').removeClass('d-none');
                }
                    
            },
            dataType: "json",
        });


    }
    function updateGMOffice() {

        var entIdArr = [];
        $.each($('.selectallMini'), function (i, v) {
            if ($(v).is(':checked')) {
                entIdArr.push($(v).attr("entId"));
            }
        });


        if (entIdArr.length == 0) {
            alert("please select atleast one entity to proceed");
            return false;
        }
        if($('#GMOfficeUnitField').val()=="0" && $('#RepOfficeUnitField').val()=="0" )
        {
            alert("Please select at least either GM Office or Reporting Line to proceed ");
            return false;
        }

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/update_gm_reporting_line_office",
            type: "POST",
            data: {
                'GM_OFF_ID': $('#GMOfficeUnitField option:selected').val(),
                'REP_OFF_ID': $('#RepOfficeUnitField option:selected').val(),
                'ENT_ID_ARR': entIdArr
            },
            cache: false,
            success: function (data) {
                alert(data.Message);
                onAlertCallback(reloadToLocation);

            },
            dataType: "json",
        });
    }

    function selectAllCheckboxes() {

        if ($('#selectAllMainBox').is(':checked')) {
            $('.selectallMini').prop("checked", true);
        }
        else {
            $('.selectallMini').prop("checked", false)
        }
    }
    function reloadToLocation() {
        getplacepost();
    }
</script>

<div class="row col-md-12 mt-3">
    <h3 style=" display:block;color: #45c545;">Entites GM/Reporting Line Management</h3>
</div>
<div class="row col-md-12 mt-1">
    <div class="col-md-2">
        <h5>Relationship Type</h5>
    </div>
    <div class="col-md-4">
        <select id="RelationshipField" onchange="getrelation();" class="form-control form-select">
            <option id="0" value="0" selected="selected">--Select Relationship Type--</option>
            @{
                if (ViewData["Userrelationship"] != null)
                {
                    foreach (var item in (dynamic)(ViewData["Userrelationship"]))
                    {
                            <option value="@item.ENTITY_REALTION_ID" id="@item.ENTITY_REALTION_ID">@item.FIELD_NAME</option>
                    }
                }
            }
        </select>
    </div>
    <div class="col-md-2">
        <h5>Controlling/Reporting Office</h5>
    </div>
    <div class="col-md-4">
        <select id="controlingsearch" onchange="getplacepost();" class="form-control form-select">
            <option id="0" value="0" selected="selected">--Select Controlling/Reporting Office--</option>
        </select>
    </div>
</div>
<div class="row col-md-12 mt-3">
    <table id="childposting" class="table table-hover table-bordered table-hover mt-3 table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important;">
            <tr>
                <th>Sr. No</th>
                <th>Entity Name</th>
                <th>GM Office</th>
                <th>Reporting Line</th>
                <th class="text-center"> <input id="selectAllMainBox" onclick="selectAllCheckboxes();" type="checkbox" name="selectAll" /> </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


<div id="complianceUnitArea" class="row col-md-12 mt-3 d-none">
    <div class="col-md-2">
        <h5>GM Office</h5>
    </div>
    <div class="col-md-4">
        <select id="GMOfficeUnitField" class="form-control form-select">
            <option id="0" value="0" selected="selected">--Select GM Office--</option>
            @{
                if (ViewData["GMOffList"] != null)
                {
                    foreach (var item in (dynamic)(ViewData["GMOffList"]))
                    {
                        <option value="@item.ENTITY_ID" id="@item.ENTITY_ID">@item.NAME</option>
                    }
                }
            }
        </select>
    </div>
</div>


<div id="AZOfficeArea" class="row col-md-12 mt-3 d-none">
    <div class="col-md-2">
        <h5>Reporting Line</h5>
    </div>
    <div class="col-md-4">
        <select id="RepOfficeUnitField" class="form-control form-select">
            <option id="0" value="0" selected="selected">--Select Reporting Line--</option>
            @{
                if (ViewData["ReportingOffList"] != null)
                {
                    foreach (var item in (dynamic)(ViewData["ReportingOffList"]))
                    {
                        <option value="@item.ENTITY_ID" id="@item.ENTITY_ID">@item.NAME</option>
                    }
                }
            }
        </select>
    </div>
</div>

<div class="row col-md-12 mr-3">
    <button onclick="updateGMOffice();" class="btn btn-danger offset-md-10 col-md-2">Update</button>
</div>
