@{
    ViewData["Title"] = "Manage Observation Status";
    Layout = "_Layout";
}

<script type="text/javascript">


    var g_memoStatusReversalIds=[];   

    function getrelation(parentEntityId = 0, userEntityId = 0) {


        $('#controlingsearch').empty();
        $('#childposting').empty();
        $.ajax({
            url: "/ApiCalls/getparentrel",
            type: "POST",
            data: {
                'ENTITY_REALTION_ID': $('#RelationshipField option:selected').val()
            },


            cache: false,
            success: function (data) {


                $('#controlingsearch').append('<option id="0" value="0">--Select Controlling/Reporting Office--</option>');
                $.each(data, function (index, contof) {

                    var selected = '';
                    if (contof.entitY_ID == parentEntityId)
                        selected = 'selected="selected"';

                    $('#controlingsearch').append('<option ' + selected + ' value="' + contof.entitY_ID + '" id="' + contof.entitY_REALTION_ID + '">' + contof.description + '</option>')
                });
                if (userEntityId != 0)
                    getplacepost(userEntityId)

                // console.log(data);

            },
            dataType: "json",
        });



    }

    function getplacepost(userEntityId = 0) {
        $('#childposting').empty();

        $.ajax({
            url: "/ApiCalls/getpostplace",
            type: "POST",
            data: {
                'E_R_ID': $('#controlingsearch option:selected').val()
            },


            cache: false,
            success: function (data) {
                $('#childposting').append('<option id="0" value="0" selected="selected">--Select Place of Posting--</option>');
                $.each(data, function (index, gpp) {

                    var selected = '';
                    if (gpp.entitY_ID == userEntityId)
                        selected = 'selected="selected"';
                    $('#childposting').append('<option ' + selected + ' value="' + gpp.entitY_ID + '" id="' + gpp.entitY_ID + '">' + gpp.c_NAME + '</option>')
                });
            },
            dataType: "json",
        });
        //  getrelation();

    }

    function getEngagementDetails() {
        $('#engsListPanel tbody').empty();
        $.ajax({
            url: "/ApiCalls/get_engagements_details_for_status_reversal",
            type: "POST",
            data: {
                'ENTITY_ID': $('#childposting option:selected').val()
            },

            cache: false,
            success: function (data) {

                $.each(data,function(i,v){

                    if (v.audiT_START_DATE!=null)
                        v.audiT_START_DATE=v.audiT_START_DATE.split(' ')[0];

                        if (v.audiT_END_DATE!=null)
                        v.audiT_END_DATE = v.audiT_END_DATE.split(' ')[0];

                    if (v.oP_START_DATE != null)
                        v.oP_START_DATE = v.oP_START_DATE.split(' ')[0];

                    if (v.oP_END_DATE != null)
                        v.oP_END_DATE = v.oP_END_DATE.split(' ')[0];

                    i = i + 1;

                    $('#engsListPanel').append('<tr><td>' + i + '</td><td>' + v.enG_ID + '</td><td>' + v.teaM_NAME + '</td><td>' + v.audiT_START_DATE + '</td><td>' + v.audiT_END_DATE + '</td><td>' + v.oP_START_DATE + '</td><td>' + v.oP_END_DATE + '</td><td>' + v.status + '</td><td><a class="text-primary text-center" onclick="getObservationsForStatusReversal(' + v.enG_ID + ');" href="#">Status Reversal</a></td><td><a href="#" onclick="getObservationsForAssignmentReversal(' + v.enG_ID + ');" class="text-danger text-center">Assignment Reversal</a></td><td><a href="#" onclick="proceedToChangeInAuditTeam(' + v.auditeD_BY_ID + ');" class="text-danger text-center">Post Changes in Team</a></td><td><a href="#" onclick="proceedToChangeEndDate(' + v.enG_ID + ');" class="text-danger text-center">Change End Date</a></td></tr>');
                })
               
            },
            dataType: "json",
        });

    }

    function getObservationsForStatusReversal(engId){

        $('#statusReversalModal').modal('show');
        $('#engObsListPanel tbody').empty();

       $.ajax({
            url: "/ApiCalls/get_observation_details_for_status_reversal",
            type: "POST",
            data: {
                'ENG_ID': engId
            },

            cache: false,
            success: function (data) {
                $.each(data, function (i, v) {

                    if (v.memO_DATE != null)
                        v.memO_DATE = v.memO_DATE.split(' ')[0];                 

                        i=i+1;

                    $('#engObsListPanel').append('<tr><td class="text-center">' + i + '</td><td>' + v.memO_NO + '</td><td>' + v.memO_DATE + '</td><td>' + v.assigneD_TO + '</td><td>' + v.status + '</td><td class="text-center"><input id="rev_checkbox_"+'+v.id+' onclick="memoIdsToStatusReversal(this,' + v.id + ');" type="checkbox" /></td></tr>');
                })
            },
            dataType: "json",
        });
    }

    function getObservationsForAssignmentReversal(engId) {

        $('#assignmentReversalModal').modal('show');
    }
      
    function memoIdsToStatusReversal(e, id){

        if ($('#rev_checkbox_' + id).is(":checked"))
            g_memoStatusReversalIds.push(id);
        else{



        }
    }

    function proceedToChangeInAuditTeam(audById) {

        $('#setupAuditTeam').modal('show');
        $('#listOfEmployeeTeam tbody').empty();
        $.ajax({
            url: "/Planning/audit_team",
            type: "POST",
            data: {
                'dept_code': $('#deptSelectionBox option:selected').val()
            },
            cache: false,
            success: function (data) {
                console.log('auditteams', data);
                var teamId = 0;
                var srNo = 1;
                var teamMembers = [];
                $.each(data, function (index, team) {

                    if (team.iS_TEAMLEAD == "Y") {
                        if (team.status == 'Y')
                            team.status = 'Active';
                        else
                            team.status = 'Inactive';
                        if (team.status == 'Active')
                            $('#listOfEmployeeTeam tbody').append('<tr id=teamcode_' + team.code + '><td class="searchable"><p class="fw-normal mb-1">' + srNo + '</p></td><td class="searchable"><p class="fw-normal mb-1">' + team.name + ' </p></td><td class="searchable"><p class="empName fw-normal mb-1">' + team.employeename + ' (' + team.teammembeR_ID + ') </p></td><td class="empMembers"></td><td><input name="newTeamChange" class="newTeamChange" id="team_' + team.t_ID + '" type="radio" /></td></tr>');
                        
                          srNo++;
                    } else {
                        teamMembers.push(team);
                        if (team.code != teamId) {
                            teamId = team.code;
                            srNo++;
                        }
                    }
                });
                $.each(teamMembers, function (index, team) {
                    if (team.iS_TEAMLEAD != "Y") {
                        prevText = $('#listOfEmployeeTeam tbody #teamcode_' + team.code + ' .empMembers').html();
                        if (prevText != '')
                            prevText += ", ";
                        $('#listOfEmployeeTeam tbody #teamcode_' + team.code + ' .empMembers').text(prevText + team.employeename + '(' + team.teammembeR_ID + ')');
                    }
                });
            },
            dataType: "json",
        });


    }

    function updateMemoStatuses(){        
        $('#newStatusReversalModel').modal('show');
       
    }

    function updateNewStatusRequest(){

    }

    function publishNewTeamChanges() { 
    
    if($('.newTeamChange:checked').length==0){
        alert("Please select Team to proceed");
        return;
    }
     $.ajax({
            url: "/ApiCalls/get_engagements_details_for_status_reversal",
            type: "POST",
            data: {
                'TEAM_ID':$('.newTeamChange:checked').attr('id').split('team_')[1],
                'ENG_ID':$('#childposting option:selected').val()
            },

            cache: false,
            success: function (data) {

                $.each(data,function(i,v){

                    if (v.audiT_START_DATE!=null)
                        v.audiT_START_DATE=v.audiT_START_DATE.split(' ')[0];

                        if (v.audiT_END_DATE!=null)
                        v.audiT_END_DATE = v.audiT_END_DATE.split(' ')[0];

                    if (v.oP_START_DATE != null)
                        v.oP_START_DATE = v.oP_START_DATE.split(' ')[0];

                    if (v.oP_END_DATE != null)
                        v.oP_END_DATE = v.oP_END_DATE.split(' ')[0];

                    i = i + 1;

                    $('#engsListPanel').append('<tr><td>' + i + '</td><td>' + v.enG_ID + '</td><td>' + v.teaM_NAME + '</td><td>' + v.audiT_START_DATE + '</td><td>' + v.audiT_END_DATE + '</td><td>' + v.oP_START_DATE + '</td><td>' + v.oP_END_DATE + '</td><td>' + v.status + '</td><td><a class="text-primary text-center" onclick="getObservationsForStatusReversal(' + v.enG_ID + ');" href="#">Status Reversal</a></td><td><a href="#" onclick="getObservationsForAssignmentReversal(' + v.enG_ID + ');" class="text-danger text-center">Assignment Reversal</a></td><td><a href="#" onclick="proceedToChangeInAuditTeam(' + v.auditeD_BY_ID + ');" class="text-danger text-center">Post Changes in Team</a></td><td><a href="#" onclick="proceedToChangeEndDate(' + v.enG_ID + ');" class="text-danger text-center">Change End Date</a></td></tr>');
                })
               
            },
            dataType: "json",
        });

    }


</script>
<div class="row col-md-12 mt-3">
<h3 style=" display:block;color: #45c545;">Setup Engagement Reversal</h3>
</div>


<div class="row col-md-12 mt-1">
    <div class="col-md-2">
        <label>Relationship Type</label>
    </div>
    <div class="col-md-10">
        <select id="RelationshipField" onchange="getrelation();" class="form-control form-select">
            <option id="0" value="0" selected="selected">--Select Relationship Type--</option>


            @{
                if (ViewData["Userrelationship"] != null)
                {
                    foreach (var item in (dynamic)(ViewData["Userrelationship"]))
                    {
                                <option value="@item.ENTITY_REALTION_ID" id="@item.ENTITY_REALTION_ID">@item.FIELD_NAME</option>
                    }
                }
            }



        </select>
    </div>
</div>

<div class="row col-md-12 mt-1">
    <div class="col-md-2">
        <label>Controlling/Reporting Office</label>
    </div>
    <div class="col-md-4">
        <select id="controlingsearch" onchange="getplacepost();" class="form-control form-select">
            <option id="0" value="0" selected="selected">--Select Controlling/Reporting Office--</option>
        </select>
    </div>


    <div class="col-md-2">
        <label>Place of Posting</label>
    </div>
    <div class="col-md-4">
        <select id="childposting" onchange="getEngagementDetails();" class="form-control form-select">
            <option id="0" value="0" selected="selected">--Select Place of Posting--</option>

        </select>
    </div>
</div>

<div class="row col-md-12 mt-3">
    <table id="engsListPanel" class="table table-bordered table mb-0 mt-3 bg-white table-hover table-striped">
        <thead>
            <tr style="background-color: rgb(181 229 117 / 93%) !important; ">
                <th class="col-md-auto">Sr No.</th>
                <th class="col-md-auto">Engagement ID</th>
                <th class="col-md-auto">Team Name</th>
                <th class="col-md-auto">Audit Start Date</th>
                <th class="col-md-auto">Audit End Date</th>
                <th class="col-md-auto">Operational Start Date</th>
                <th class="col-md-auto">Operational End Date</th>
                <th class="col-md-auto">Status</th>
                <th colspan="4" class="col-md-auto text-center">Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>



<div id="statusReversalModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Observation Status Reversal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row col-md-12">

                    <div class="row col-md-12 mt-3">
                        <table id="engObsListPanel" class="table table-bordered table mb-0 mt-3 bg-white table-hover table-striped">
                            <thead>
                                <tr style="background-color: rgb(181 229 117 / 93%) !important;">                                   
                                    
                                    <th class="col-md-auto">Sr No.</th>
                                    <th class="col-md-auto">Memo No</th>
                                    <th class="col-md-auto">Memo Date</th>
                                    <th class="col-md-auto">Assigned To</th>                                    
                                    <th class="col-md-auto">Status</th>
                                    <th class="col-md-auto"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>


                  
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="updateMemoStatuses();" type="button" data-dismiss="modal" class="btn btn-success">Update Status</button>

            </div>
        </div>
    </div>
</div>

<div id="assignmentReversalModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Engagement Assignment Reversal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row col-md-12">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="updateNewStatus();" type="button" data-dismiss="modal" class="btn btn-success">Update Status</button>

            </div>
        </div>
    </div>
</div>

<div id="newStatusReversalModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Engagement Assignment Reversal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row col-md-12">
                    <div class="col-md-4">
                            <label>New Status</label>
                    </div>
                    <div class="col-md-8">
                            <select class="form-control" id="newStatusReservalSelectionBox">
                                <option value="0" id="0" selected>--Select New Status--</option>
                                @{
                                    if (ViewData["statusList"] != null)
                                    {
                                        foreach (var item in (dynamic)(ViewData["statusList"]))
                                        {
                                                    <option value="@item.STATUS_ID" id="@item.STATUS_ID">@item.STATUS_NAME</option>

                                        }
                                    }
                                }

                            </select>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="updateNewStatusRequest();" type="button" data-dismiss="modal" class="btn btn-success">Save Changes</button>

            </div>
        </div>
    </div>
</div>


<div id="setupAuditTeam" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">New Audit Team</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="col-md-12 mt-3">
                        <table id="listOfEmployeeTeam" class="table table-hover table-bordered table-hover mt-3 table-striped">
                            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                                <tr>
                                    <th class="col-md-auto">Sr No.</th>
                                    <th class="col-md-auto">Team Name</th>
                                    <th class="col-md-auto">Team Lead</th>
                                    <th class="col-md-auto">Team Members</th>                                    
                                    <th class="col-md-auto">Select Team</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button onclick="publishNewTeamChanges();" type="button" class="btn btn-danger">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

