@{
    ViewData["Title"] = "Special Audit Plan";
    Layout = "_Layout";
}

<style type="text/css">
    .container {
        max-width: 95%;
    }

    .card-header {
        background-color: transparent !important;
        font-size: 20px;
        height: 100px;
    }

    .icon-card {
        margin: 10px;
    }
</style>

<script type="text/javascript">
    var g_status = 'Create';
    var g_preCreatedPlans=[];
    var g_planId=0;
    var g_indicator='N';
    $(document).ready(function () {
        getSavedSpecialAuditPlan();
    });

    function getSavedSpecialAuditPlan() {
        $('#auditCriteriaListBox tbody').empty();

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_saved_special_audit_plans",
            type: "POST",
            data: {

            },

            cache: false,
            success: function (data) {
                g_preCreatedPlans=data;
                $.each(data, function (index, row) {

                    $('#auditCriteriaListBox tbody').append("<tr id=" + row.plaN_ID + "><td>" + ++index + "</td><td>" + row.nature + "</td><td>" + row.audiT_PERIOD + "</td><td>" + row.reportinG_OFFICE + "</td><td>" + row.entitY_NAME + "</td><td>" + row.nO_DAYS + "</td><td>" + row.auditeD_BY + "</td><td><a href=\"#\" class=\"text-primary\" onclick=\"event.preventDefault();UpdateCriteriaRecordFromGrid(" + row.plaN_ID + ");\">Edit</a></td><td><a href=\"#\" class=\"text-danger\" onclick=\"event.preventDefault();DeleteCriteriaRecordFromGrid(" + row.plaN_ID + ");\">Delete</a></td><td><a href=\"#\" class=\"text-success\" onclick=\"event.preventDefault();SubmitCriteriaRecordFromGrid(" + row.plaN_ID + ");\">Submit</a></td></tr>");
                });
            },
            dataType: "json",
        });

    }
    function getAuditableEntities(userEntityId = 0) {
        $('#auditCriteriaEntField').empty();

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/getpostplace",
            type: "POST",
            data: {
                'E_R_ID': $('#auditCriteriaRepField option:selected').val()
            },


            cache: false,
            success: function (data) {
                $('#auditCriteriaEntField').append('<option id="0" value="0" selected="selected">--Select Place of Posting--</option>');
                $.each(data, function (index, gpp) {

                    var selected = '';
                    if (gpp.entitY_ID == userEntityId)
                        selected = 'selected="selected"';
                    $('#auditCriteriaEntField').append('<option ' + selected + ' value="' + gpp.entitY_ID + '" id="' + gpp.entitY_ID + '">' + gpp.c_NAME + '</option>')
                });
            },
            dataType: "json",
        });

    }
    function addRecordToauditCriteriaListBox() {
        var nature = 0;
        if ($('#auditNatureEntityField option:selected').val() != 0)
            nature = $('#auditNatureEntityField option:selected').val();

        var period = 0;
        if ($('#auditCriteriaPeriodField option:selected').val() != 0)
            period = $('#auditCriteriaPeriodField option:selected').val();

        var entityId = 0;
        if ($('#auditCriteriaEntField option:selected').val() != 0) {
            entityId = $('#auditCriteriaEntField option:selected').val();
        }

        var days = '';
        if ($('#auditCriteriaDaysField').val() != '')
            days = $('#auditCriteriaDaysField').val();

        if (nature == 0) {
            alert('Select Audit Nature to proceed');
            return;
        }

        if (period == 0) {
            alert('Select Audit Period to proceed');
            return;
        }
        if (entityId == 0) {
            alert('Select Audit Entity to proceed');
            return;
        }
        if (days == '') {
            alert('Enter No. of days to proceed');
            return;
        }

        var plan_id=0;
        var ind='N';

        if(g_status=="Update"){
            plan_id=g_planId;
            ind=g_indicator;
        }
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/add_special_audit_plan",
            type: "POST",
            data: {

                'NATURE': $('#auditNatureEntityField').val(),
                'PERIOD': $('#auditCriteriaPeriodField').val(),
                'ENTITY_ID': $('#auditCriteriaEntField').val(),
                'NO_DAYS': $('#auditCriteriaDaysField').val(),
                'PLAN_ID': plan_id,
                'INDICATOR': ind
            },
            cache: false,
            success: function (data) {
                alert(data.Message);
                g_status='Create';
                $('#saveButtonSpecialPlan').html('Save');
                getSavedSpecialAuditPlan();
                   clearPlanFields();
            },

            dataType: "json",
        });


    }

    function clearPlanFields(){
        $('#auditNatureEntityField').val(0);
                 $('#auditCriteriaPeriodField').val(0);
                 $('#auditCriteriaRepField').val(0);
                 getAuditableEntities();
                 $('#auditCriteriaDaysField').val(0);
    }
    function UpdateCriteriaRecordFromGrid(pId) {
        g_planId=pId;
        g_status="Update";
        g_indicator="E";
        $('#saveButtonSpecialPlan').html('Update');
        $.each(g_preCreatedPlans,function(i,v){
            if(v.plaN_ID==g_planId){
                $('#auditNatureEntityField').val(v.naturE_ID);
                 $('#auditCriteriaPeriodField').val(v.audiT_PERIOD_ID);
                 $('#auditCriteriaRepField').val(v.reportinG_OFFICE_ID);
                 getAuditableEntities(v.entitY_ID);
                 $('#auditCriteriaDaysField').val(v.nO_DAYS);
            }
        })

    }


    function DeleteCriteriaRecordFromGrid(pId) 
    {
        g_planId=pId;

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/delete_special_audit_plan",
            type: "POST",
            data: {
                'PLAN_ID': g_planId,
                'INDICATOR':'D'
            },
            cache: false,
            success: function (data) {
                  alert(data.Message);
                g_status='Create';
                $('#saveButtonSpecialPlan').html('Save');
                getSavedSpecialAuditPlan();
                   clearPlanFields();
            },

            dataType: "json",
        });
    }
     function SubmitCriteriaRecordFromGrid(pId) 
    {
        g_planId=pId;

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/submit_special_audit_plan",
            type: "POST",
            data: {
                'PLAN_ID': g_planId,
                'INDICATOR':'S'
            },
            cache: false,
            success: function (data) {
                 alert(data.Message);
                g_status='Create';
                $('#saveButtonSpecialPlan').html('Save');
                getSavedSpecialAuditPlan();
                   clearPlanFields();
            },

            dataType: "json",
        });
    }

    function reloadLocation() {
        location.reload();
    }

    function addAuditEntitiesModal() {
        $('#setupAuditEntitiesModal').modal('show');
    }

</script>

<div class="row col-md-12">
    <h3 style="color: #45c545;">Special Audit Plan</h3>
</div>
<div class="mt-3 row col-md-12">
    <div class="col-md-4">
        <h5>Nature of Audit</h5>
    </div>
    <div class="col-md-8">
        <div class="col-md-12 pl-0 pr-0">
            <select id="auditNatureEntityField" class="form-select form-control">
                <option value="0" id="0">--Select Nature of Audit--</option>
                @{
                    if (ViewData["AuditNatureList"] != null)
                        {
                        foreach (var item in (dynamic)(ViewData["AuditNatureList"]))
                            {
                                                    <option value="@item.N_ID" id="@item.N_ID">@item.DESCRIPTION</option>
                            }
                        }
                }
            </select>
        </div>
    </div>
</div>
<div class="row col-md-12 mt-4">
    <div class="col-md-4">
        <h5>Audit Period</h5>
    </div>
    <div class="col-md-8">
        <select id="auditCriteriaPeriodField" class="form-select form-control" aria-label="Default select example">
            <option value="0" id="0" selected>--Select Audit Period--</option>
            @{
                if (ViewData["AuditPeriodList"] != null)
                    {

                    foreach (var period in (dynamic)(ViewData["AuditPeriodList"]))
                        {
                                                <option id="@period.AUDITPERIODID" value="@period.AUDITPERIODID">@period.DESCRIPTION</option>
                        }

                    }
            }
        </select>
    </div>
</div>

<div class="row col-md-12 mt-3">
    <div class="col-md-4">
        <h5>Reporting Office</h5>
    </div>
    <div class="col-md-8">
        <select id="auditCriteriaRepField" onchange="getAuditableEntities();" class="form-select form-control" aria-label="Default select example">
            <option value="0" id="0" selected>--Select Reporting Office--</option>
            @{
                if (ViewData["ReportingOfficeList"] != null)
                    {

                    foreach (var ent in (dynamic)(ViewData["ReportingOfficeList"]))
                        {
                                                <option id="@ent.ENTITY_ID" value="@ent.ENTITY_ID">@ent.DESCRIPTION</option>
                        }

                    }
            }
        </select>
    </div>
</div>


<div class="row col-md-12 mt-3">
    <div class="col-md-4">
        <h5>Audit Entity</h5>
    </div>
    <div class="col-md-8">
        <select id="auditCriteriaEntField" class="form-select form-control" aria-label="Default select example">

        </select>
    </div>
</div>
<div class="row col-md-12 mt-3">
    <div class="col-md-4">
        <h5>No. of Days</h5>
    </div>
    <div class="col-md-8">
        <input id="auditCriteriaDaysField" min="0" class="form-control" type="number" />
    </div>
</div>


<div class="col-md-12 mt-3">
    <button id="saveButtonSpecialPlan" onclick="addRecordToauditCriteriaListBox();" class="col-md-2 btn btn-danger">Save</button>
</div>

<div class="col-md-12">
    <table id="auditCriteriaListBox" class="table table-hover table-bordered table-hover mt-3 table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
            <tr>
                <th class="col-md-auto">Sr. No.</th>
                <th class="col-md-auto">Nature</th>
                <th class="col-md-auto">Period</th>
                <th class="col-md-auto">Reporting Office</th>
                <th class="col-md-auto">Entity Name</th>
                <th class="col-md-auto">No. of Days</th>
                <th class="col-md-auto">Audited By</th>
                <th class="col-md-auto"></th>
                <th class="col-md-auto"></th>
                  <th class="col-md-auto"></th>
            </tr>
        </thead>
        <tbody style="font-size:85% !important;">
        </tbody>
    </table>
</div>
