@{
    ViewData["Title"] = "Audit Criteria";
    Layout = "_Layout";
}

<style type="text/css">
    .container {
        max-width: 95%;
    }

    .card-header {
        background-color: transparent !important;
        font-size: 20px;
        height: 100px;
    }

    .icon-card {
        margin: 10px;
    }
</style>

<script type="text/javascript">
    g_status = 'Created';

    $(document).ready(function (){
        getSavedSpecialAuditPlan();
    });


       function getSavedSpecialAuditPlan() {
        $('#auditCriteriaListBox tbody').empty();

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_saved_special_audit_plans",
            type: "POST",
            data: {
              
            },

            cache: false,
            success: function (data) {
                
                $.each(data, function (index, row) {

                    $('#auditCriteriaListBox tbody').append("<tr id="+row.plaN_ID+"><td>"+ ++index +"</td><td>"+row.nature+"</td><td>"+row.audiT_PERIOD+"</td><td>"+row.reportinG_OFFICE+"</td><td>"+row.entitY_NAME+"</td><td>"+row.nO_DAYS+"</td><td>"+row.auditeD_BY+"</td><td><a href=\"#\" onclick=\"event.preventDefault();UpdateCriteriaRecordFromGrid("+row.plaN_ID+");\">Edit</a></td><td><a href=\"#\" onclick=\"event.preventDefault();DeleteCriteriaRecordFromGrid("+row.plaN_ID+");\">Delete</a></td></tr>");
                });
            },
            dataType: "json",
        });

    }
     function getAuditableEntities(userEntityId = 0) {
        $('#auditCriteriaEntField').empty();

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/getpostplace",
            type: "POST",
            data: {
                'E_R_ID': $('#auditCriteriaRepField option:selected').val()
            },


            cache: false,
            success: function (data) {
                $('#auditCriteriaEntField').append('<option id="0" value="0" selected="selected">--Select Place of Posting--</option>');
                $.each(data, function (index, gpp) {

                    var selected = '';
                    if (gpp.entitY_ID == userEntityId)
                        selected = 'selected="selected"';
                    $('#auditCriteriaEntField').append('<option ' + selected + ' value="' + gpp.entitY_ID + '" id="' + gpp.entitY_ID + '">' + gpp.c_NAME + '</option>')
                });
            },
            dataType: "json",
        });

    }
    function addRecordToauditCriteriaListBox() {
        var nature = 0;
        if ($('#auditNatureEntityField option:selected').val() != 0)
            nature = $('#auditNatureEntityField option:selected').val();
        
            var period = 0;
        if ($('#auditCriteriaPeriodField option:selected').val() != 0)
            period = $('#auditCriteriaPeriodField option:selected').val();

        var entityId=0;        
        if ($('#auditCriteriaEntField option:selected').val() != 0) {
             entityId = $('#auditCriteriaEntField option:selected').val();
        }    
       
        var days = '';
        if ($('#auditCriteriaDaysField').val() != '')
            days = $('#auditCriteriaDaysField').val();
       
        if (nature == 0) {
            alert('Select Audit Nature to proceed');
            return;
        }

        if (period == 0) {
            alert('Select Audit Period to proceed');
            return;
        }
        if (entityId == 0) {
            alert('Select Audit Entity to proceed');
            return;
        }
         if (days == '') {
            alert('Enter No. of days to proceed');
            return;
        }
          $.ajax({
                url: g_asiBaseURL + "/ApiCalls/add_special_audit_plan",
                type: "POST",
                data: {
                   
                   'NATURE':$('#auditNatureEntityField').val(),
                   'PERIOD':$('#auditNatureEntityField').val(),
                   'ENTITY_ID':$('#auditCriteriaEntField').val(),
                   'NO_DAYS':$('#auditCriteriaDaysField').val()
                },
                cache: false,
                success: function (data) {
                    alert(data.Message);
                    getSavedSpecialAuditPlan();

                },

                dataType: "json",
            });
    }
     function UpdateCriteriaRecordFromGrid(criteria_id) {

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/DeletePendingCriteria",
            type: "POST",
            data: {
                'CID': criteria_id
            },
            cache: false,
            success: function (data) {
                location.reload();
            },

            dataType: "json",
        });
    }
    function DeleteCriteriaRecordFromGrid(criteria_id) {

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/DeletePendingCriteria",
            type: "POST",
            data: {
                'CID': criteria_id
            },
            cache: false,
            success: function (data) {
                location.reload();
            },

            dataType: "json",
        });
    }

    function reloadLocation() {
        location.reload();
    }

    function addAuditEntitiesModal() {
        $('#setupAuditEntitiesModal').modal('show');
    }
    function submitAuditCriteria() {

        var criteria_list = [];
        $.each($('#auditCriteriaListBox tbody tr.new'), function (index, row) {
            var criteria = [];
            $.each($(row).find('td'), function (i, d) {
                if (typeof $(d).attr('value') != "undefined" && $(d).attr('value') != null) {
                    criteria.push($(d).attr('value'));
                }
            });
            criteria.push($($(row).find('td').eq(0)).html()); //[period]
            criteria.push($($(row).find('td').eq(1)).html()); //[entname]
            criteria.push($($(row).find('td').eq(2)).html()); //[risk]
            criteria.push($($(row).find('td').eq(4)).html()); //[size]
            criteria.push($($(row).find('td').eq(3)).html()); //[freq]
            criteria.push($($(row).find('td').eq(1)).attr('data-value')); //[entityId]
            criteria_list.push(criteria);
        });
        console.log(criteria_list);

        if (criteria_list.length > 0) {
          
        }
        else {

            alert('No Audit Criteria Defined');
            return;
        }
    }
    function FinalsubmitAuditCriteria() {
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/submit_audit_criterias",
            type: "POST",
            data: {
                'PERIOD_ID': 0
            },
            cache: false,
            success: function (data) {

                alert("Audit Criteria Submitted Successfully");
                onAlertCallback(reloadLocation);
            },

            dataType: "json",
        });

    }
   
</script>

<div class="row col-md-12">
    <h3 style="color: #45c545;">Special Audit Criteria</h3>
</div>
<div class="mt-3 row col-md-12">
    <div class="col-md-4">
        <h5>Nature of Audit</h5>
    </div>
    <div class="col-md-8">
        <div class="col-md-12 pl-0 pr-0">
            <select id="auditNatureEntityField" class="form-select form-control">
                <option value="0" id="0">--Select Nature of Audit--</option>
                @{
                    if (ViewData["AuditNatureList"] != null)
                    {
                        foreach (var item in (dynamic)(ViewData["AuditNatureList"]))
                        {
                            <option value="@item.N_ID" id="@item.N_ID">@item.DESCRIPTION</option>
                        }
                    }
                }
            </select>
        </div>
    </div>
</div>
<div class="row col-md-12 mt-4">
    <div class="col-md-4">
        <h5>Audit Period</h5>
    </div>
    <div class="col-md-8">
        <select id="auditCriteriaPeriodField" class="form-select form-control" aria-label="Default select example">
            <option value="0" id="0" selected>--Select Audit Period--</option>
            @{
                if (ViewData["AuditPeriodList"] != null)
                {

                    foreach (var period in (dynamic)(ViewData["AuditPeriodList"]))
                    {
                        <option id="@period.AUDITPERIODID" value="@period.AUDITPERIODID">@period.DESCRIPTION</option>
                    }

                }
            }
        </select>
    </div>
</div>

<div class="row col-md-12 mt-3">
    <div class="col-md-4">
        <h5>Reporting Office</h5>
    </div>
    <div class="col-md-8">
        <select id="auditCriteriaRepField" onchange="getAuditableEntities();" class="form-select form-control" aria-label="Default select example">
            <option value="0" id="0" selected>--Select Reporting Office--</option>
            @{
                if (ViewData["ReportingOfficeList"] != null)
                {

                    foreach (var ent in (dynamic)(ViewData["ReportingOfficeList"]))
                    {
                        <option id="@ent.ENTITY_ID" value="@ent.ENTITY_ID">@ent.DESCRIPTION</option>
                    }

                }
            }
        </select>
    </div>
</div>


<div class="row col-md-12 mt-3">
    <div class="col-md-4">
        <h5>Audit Entity</h5>
    </div>
    <div class="col-md-8">
        <select id="auditCriteriaEntField" class="form-select form-control" aria-label="Default select example">
            <option value="0" id="0" selected>--Select Risk Category--</option>
            @{
                if (ViewData["RiskList"] != null)
                {

                    foreach (var risk in (dynamic)(ViewData["RiskList"]))
                    {
                        <option id="@risk.R_ID" value="@risk.R_ID">@risk.DESCRIPTION</option>
                    }

                }
            }
        </select>
    </div>
</div>
<div class="row col-md-12 mt-3">
    <div class="col-md-4">
        <h5>No. of Days</h5>
    </div>
    <div class="col-md-8">
        <input id="auditCriteriaDaysField" min="0" class="form-control" type="number" />
    </div>
</div>


<div class="col-md-12 mt-3">
    <button onclick="addRecordToauditCriteriaListBox();" class="col-md-2 btn btn-danger">Save</button>
</div>

<div class="col-md-12">
    <table id="auditCriteriaListBox" class="table table-hover table-bordered table-hover mt-3 table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
            <tr>
                <th class="col-md-auto">Sr. No.</th>
                <th class="col-md-auto">Nature</th>
                <th class="col-md-auto">Period</th>
                <th class="col-md-auto">Reporting Office</th>
                <th class="col-md-auto">Entity Name</th>
                <th class="col-md-auto">No. of Days</th>
                <th class="col-md-auto">Audited By</th>
                <th class="col-md-auto"></th>
                 <th class="col-md-auto"></th>
            </tr>
        </thead>
        <tbody>
         
        </tbody>
    </table>
</div>
<div class="col-md-12 mt-3">
    <button onclick="FinalsubmitAuditCriteria();" class="col-md-2 btn btn-success">Submit</button>
</div>
