@{
    ViewData["Title"] = "Team Members";
    Layout = "_Layout";
}
<style type="text/css">
    .deleteTeam:hover {
        cursor: pointer;

    }
    .container {
        max-width: 100%;
    }

    .card-header {
        background-color: transparent !important;
        font-size: 20px;
        height: 100px;
    }

    .icon-card {
        margin: 10px;
    }
    
</style>
<script type="text/javascript">
    $(document).ready(function () {
        ShowEmployeeContainer();
        $("#searchTeamFormation").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#listOfEmployeeTeam tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        
    });
    function reloadLocation() {
        window.location = window.location.pathname;

    }
   
    function ShowEmployeeContainer() {
        //console.log($('#deptSelectionBox option:selected').val());
        if ($('#deptSelectionBox option:selected').val() == 0)
            $('#listOfEmployeeTeam tbody').empty();
        else {
            $('#listOfEmployeeTeam tbody').empty();
            $.ajax({
                url: g_asiBaseURL + "/Planning/audit_team",
                type: "POST",
                data: {
                    'dept_code': $('#deptSelectionBox option:selected').val()
                },
                cache: false,
                success: function (data) {
                    console.log('auditteams',data);
                    var teamId = 0;
                    var srNo = 1;
                    var teamMembers=[];
                    $.each(data, function (index, team) {
                       
                        if (team.iS_TEAMLEAD == "Y") {
                            if (team.status == 'Y')
                                team.status = 'Active';
                            else
                                team.status = 'Inactive';
                            if (team.status=='Inactive')
                                $('#listOfEmployeeTeam tbody').append('<tr id=teamcode_' + team.code + '><td class="searchable"><p class="fw-normal mb-1">' + srNo + '</p></td><td class="searchable"><p class="fw-normal mb-1">' + team.name + ' </p></td><td class="searchable"><p class="empName fw-normal mb-1">' + team.employeename + ' (' + team.teammembeR_ID + ') </p></td><td class="empMembers"></td><td class="searchable"><p class="empName fw-normal mb-1 text-center">' + team.status + ' </p></td><td> </tr>');
                            else
                                $('#listOfEmployeeTeam tbody').append('<tr id=teamcode_' + team.code + '><td class="searchable"><p class="fw-normal mb-1">' + srNo + '</p></td><td class="searchable"><p class="fw-normal mb-1">' + team.name + ' </p></td><td class="searchable"><p class="empName fw-normal mb-1">' + team.employeename + ' (' + team.teammembeR_ID + ') </p></td><td class="empMembers"></td><td class="searchable"><p class="empName fw-normal mb-1 text-center">' + team.status + ' </p></td><td> <small onclick="event.preventDefault();deleteTeam(\'' + team.code + '\');" class="text-danger deleteTeam">Inactive</small></td></tr>');

                            srNo++;
                        } else
                        {
                            teamMembers.push(team);
                            if (team.code != teamId) {
                                teamId = team.code;
                                srNo++;
                            } 
                        }
                    });
                    $.each(teamMembers, function (index, team) {
                        if (team.iS_TEAMLEAD != "Y")
                        {
                            prevText = $('#listOfEmployeeTeam tbody #teamcode_' + team.code + ' .empMembers').html();
                            if (prevText != '')
                                prevText += ", ";
                            $('#listOfEmployeeTeam tbody #teamcode_' + team.code + ' .empMembers').text(prevText + team.employeename + '(' + team.teammembeR_ID + ')');
                        }
                    });
                },
                dataType: "json",
            });
        }
    }
    function addNewTeam() {
        
        $('#teamNameModalField').val('');
        $('#teamCodeModalField').val('');
        $.each($('.participantcheckboxes'), function (index, member) { $(member).attr('checked', false); });
        $.each($('.teamleadradio'), function (index, member) { $(member).attr('checked', false); });
       
        $('#setupAuditTeam').modal('show');
    }

    function publishNewTeamChanges() {
        
       
      /*  var teamCode = $('#teamCodeModalField').val()
        if (teamCode == '') {
            alert('Enter Team Code');
            return false;
        }
        */
        var teamName = $('#teamNameModalField').val();

        if (teamName == '') {
            alert('Enter Team Name');
            return false;
        }     

        if (!$('.participantcheckboxes').is(':checked')) {
            alert('Select Team Participants');
            return false;
        }
        if (!$('.teamleadradio').is(':checked')) {
            alert('Select Team Lead');
            return false;
        }
        var participants = [];
        $.each($('.participantcheckboxes'), function (index, member) {
            if ($(member).is(':checked')) {
                var obj = {
                    'T_CODE': '',
                    'T_NAME':teamName,
                    'PPNO': $(member).attr('memberid'),
                    'NAME': $(member).attr('memberfname') +" "+$(member).attr('memberlname'),
                    'PLACEOFPOSTING': $(member).attr('memberplaceofposting'),
                    'ISTEAMLEAD': 'N',
                    'STATUS': 'Y',
                }
                participants.push(obj);
            }
        });
        var teamLeadID = 0;
        var teamLeadCheck = false;

        $.each($('.teamleadradio'), function (index, lead) {
            if ($(lead).is(':checked')) {
                teamLeadID = $(lead).attr('memberid');                
            }
        });
        $.each(participants, function (i, p) {
            if (p.PPNO == teamLeadID) {
                p.ISTEAMLEAD = 'Y'
                teamLeadCheck = 1;
            }
        });
        if (!teamLeadCheck) {
            alert('Select Team Lead among Team Participants');
            return false;
        }

        $.ajax({
            url: g_asiBaseURL + "/Planning/add_audit_team",
            type: "POST",
            data: {
                'AUDIT_TEAM': participants
            },
            cache: false,
            success: function (data) {
                alert(data.Message);
                onAlertCallback(reloadLocation);
            },
            dataType: "json",
        });
        

    }
    function deleteTeam(teamCode) {

        $.ajax({
            url: g_asiBaseURL + "/Planning/delete_audit_team",
            type: "POST",
            data: {
                'T_CODE': teamCode
            },
            cache: false,
            success: function (data) {
                window.location = window.location.pathname;
            },
            dataType: "json",
        });


    }
</script>
<div class="row d-none">
    <h5>Select Department</h5>
    <select id="deptSelectionBox" onchange="ShowEmployeeContainer();" class="form-select form-control" aria-label="Default select example">
        @{
            if (ViewData["AuditDepartments"] != null)
            {
                foreach (var item in (dynamic)(ViewData["AuditDepartments"]))
                {
                    <option selected ="selected" value="@item.CODE" id="@item.CODE">@item.NAME</option>
                }
            }
        }

    </select>
</div>

<div class="row col-md-12">
    <div class="col-md-10 mt-3">

        <h3 style="color: #45c545; float:left">Team Formation</h3>
    </div>
        <div class="col-md-2 mt-3" style="float:right">
        <button onclick="addNewTeam();" class="btn btn-danger mb-3"  style="float:right;" >Constitue New Team</button>
            
    </div>
    </div>
<div class="col-md-12 mt-3">
    <table id="listOfEmployeeTeam" class="table table-hover table-bordered table-hover mt-3 table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
            <tr>
                <th class="col-md-auto">Sr No.</th>
                <th class="col-md-auto">Team Name</th>
                <th class="col-md-auto">Team Lead</th>
                <th class="col-md-auto">Team Members</th>
                <th class="col-md-auto">Status</th>
                <th class="col-md-auto">Delete</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    </div>
    
<div id="setupAuditTeam" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">New Audit Team</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group d-none">
                        <label for="teamCodeModalField">Team Code</label>
                        <input type="text" class="form-control" id="teamCodeModalField" aria-describedby="brcode" placeholder="Team Code">

                    </div>
                    <div class="form-group">
                        <label for="branchCodeModalField">Team Name</label>
                        <input type="text" class="form-control" id="teamNameModalField" aria-describedby="brcode" placeholder="Team Name">

                    </div>
                    <div class="form-group">
                        <div class="row col-md-12">
                            <label class="col-md-2">Participant</label>
                            <label class="col-md-3" style="float:right">Auditors</label>
                            <label class="col-md-2">P.P. NO.</label>
                            <label class="col-md-3">Designation</label>

                            <label class="col-md-2">Team Lead</label>
                        </div>
                        <div class="row col-md-12" >
                            @{
                                if (ViewData["AuditEmployees"] != null)
                                {
                                    foreach (var item in (dynamic)(ViewData["AuditEmployees"]))
                                    {
                                        <div class="col-md-2"><input id="participants_@item.PPNO" memberid="@item.PPNO" memberfname="@item.EMPLOYEEFIRSTNAME" memberlname="@item.EMPLOYEELASTNAME" memberplaceofposting="@item.DEPARTMENTCODE" class="participantcheckboxes" type="checkbox" /></div>
                                        <div class="col-md-3" style="float:right"><label>@item.EMPLOYEEFIRSTNAME&nbsp;@item.EMPLOYEELASTNAME</label></div>
                                        <div class="col-md-2"><label>@item.PPNO</label></div>
                                        <div class="col-md-3"><label>@item.FUN_DESIGNATION</label></div>

                                        <div class="col-md-2" style="padding-left:40px;"><input id="lead_@item.PPNO" memberid="@item.PPNO" memberfname="@item.EMPLOYEEFIRSTNAME" memberlname="@item.EMPLOYEELASTNAME" memberplaceofposting="@item.DEPARTMENTCODE" class="teamleadradio" name="isTeamLead" type="radio" /></div>

                                    }
                                }
                            }

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button onclick="publishNewTeamChanges();" type="button" class="btn btn-danger">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

