@{
    ViewData["Title"] = "Tentative Audit Plan";
    Layout = "_Layout";
}

<script type="text/javascript">
    function createAuditEngagement(name, size, risk, freq, days, auditperiod, periodId, code, zoneId) {
        window.location.href = '/planning/tentative_engagement_plan?name=' + name + '&size=' + size + '&risk=' + risk + '&freq=' + freq + '&period=' + auditperiod + '&days=' + days + '&periodId=' + periodId + '&code=' + code + '&entityType=6' + '&zoneId=' + zoneId;
    }
      
</script>
<div class="row text-center mt-3">
    <h3>Tentative Audit Plan </h3>
</div>
<div>
    <div class="row mt-3">
        <table class="table table-bordered table mb-0 mt-3 bg-white table-hover table-striped" id="Plan Review">
            <thead>
                <tr>
                    <th class="font-weight-bold">Sr No</th>
                    <th class="font-weight-bold">Audit Period</th>
                    <th class="font-weight-bold">Operation Zone</th>
                    <th class="font-weight-bold">Branch</th>
                    <th class="font-weight-bold">Entity Name</th>
                    <th class="font-weight-bold">Risk</th>
                    <th class="font-weight-bold">Frequency</th>
                    <th class="font-weight-bold">No. of Days</th>
                    <th class="font-weight-bold">Actions</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (ViewData["TentativePlansList"] != null)
                    {
                        int sr= 1;

                        foreach (var item in (dynamic)(ViewData["TentativePlansList"]))
                        {
                                <tr>
                                    <td>@sr</td>
                                    <td>@item.PERIOD_NAME</td>
                                    <td>@item.ZONE_NAME</td>
                                    <td>@item.BR_NAME</td>
                                    <td>@item.ENTITY_NAME</td>
                                    <td>@item.RISK</td>
                                    <td>@item.FREQUENCY_DESCRIPTION</td>
                                    <td>@item.NO_OF_DAYS</td>
                                    <td><small onclick="createAuditEngagement('@item.BR_NAME','@item.BR_SIZE','@item.RISK','@item.FREQUENCY_DESCRIPTION','@item.NO_OF_DAYS', '@item.PERIOD_NAME','@item.AUDIT_PERIOD_ID','@item.CODE','@item.AUDIT_ZONE_ID');" class="text-center text-danger text-hover">Create</small></td>
                                </tr>
                            sr = sr + 1;
                        }

                    }
                }
            </tbody>
        </table>
        <div class="row w-100 mt-3 d-none">
            <h4>Audit Zone Head Remarks</h4>
            <select id="deptSelectionBox" class="form-select form-control" aria-label="Default select example">
                <option value="0" selected>Remarks</option>
                <option value="1">1. Recommended for Approval</option>
                <option value="2">2. Refer back for changes in the above marked plans</option>
            </select>
        </div>
        <div class="row w-100 col-md-12 mt-3 d-none">
            <div class="col-md-6 mt-5">
                <button onclick="window.location.href = '';" class="btn-primary">Submit</button>
            </div>
            <div class="col-md-6 mt-5">
                <button onclick="window.location.href = '';" class="btn-primary">Refer Back</button>
            </div>
        </div>
    </div>
</div>
