@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}

<script type="text/javascript">
   
    $(document).ready(function () {
       
    });

    //
    //

    function getEntityObservation() {
        $('#observation_panel tbody').empty();
        if ($('#department option:selected').val() != 0 && $('#natureofviolation option:selected').val() != 0) {
            $.ajax({
                url: "/ApiCalls/get_violation_observations",
                type: "POST",
                data: {
                    'ENTITY_ID': $('#department option:selected').val(),
                    'VIOLATION_ID': $('#natureofviolation option:selected').val()
                },
                cache: false,
                success: function (data) {
                    console.log(data);
                    return;
                    g_response = data;
                    var sr = 1;
                    $.each(data, function (i, v) {
                        $('#ccqs_panel tbody').append('  <tr id="' + v.id + '"><td align="justify"> ' + sr + '</td> <td align="left">' + v.questions + '</td> <td align="left">' + v.controL_VIOLATION + '</td> <td align="left">' + v.risk + '</td> <td align="left">' + v.status + '</td><td align="justify"><a onclick="updateCCQBinding(' + v.id + ', \'\',' + v.controL_VIOLATION_ID + ' , ' + v.risK_ID + ', \'' + v.status + '\');" href="#">Edit</a></td> </tr>');
                        sr++;
                    });

                },
                dataType: "json",
            });

        }
        else {
            alert('Select both Entity and Violation to proceed');
            return false;
        }
    }

   
</script>
<div class="row w-100">

    <div class="col-md-12 mt-3">

        <h3 style="color: #45c545;">Dashboard for Divisional Head</h3>

        <div class="row col-md-12 mt-4">
            <h5>Select Department</h5>
            <select id="department" class="form-select form-control">
                <option value="0" id="0" selected>--Select Department--</option>

                @{
                    if (ViewData["AuditDepartments"] != null)
                    {
                        foreach (var item in (dynamic)(ViewData["AuditDepartments"]))
                        {
                            <option value="@item.ID" id="@item.ID">@item.NAME</option>
                        }
                    }
                }


            </select>
        </div>
        <div class="row col-md-12 mt-3">
            <h5>Nature of Violation</h5>
            <select id="natureofviolation" class="form-select form-control" aria-label="Default select example">
                <option value="0" id="0" selected>Nature of Violation</option>
                @{
                    if (ViewData["Voilation_Cat"] != null)
                    {
                        foreach (var item in (dynamic)(ViewData["Voilation_Cat"]))
                        {
                            <option id="@item.ID" value="@item.ID">@item.V_NAME</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="row col-md-12 mt-3">
            <button onclick="getEntityObservation();" class="btn btn-primary">Search Para</button>
        </div>


        </div>
        <div class="mt-3 col-md-12">
            <table id="observation_panel" class="table table-hover table-bordered table-hover mt-3 table-striped">
                <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                    <tr>
                        <th>Name of Audit Report</th>
                        <th>Nature of Violation</th>
                        <th>Audit Year</th>
                        <th>Para No. Outstanding</th>
                        <th>Observation</th>
                        <th>Risk Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>

<!--<div class="row col-md-12 w-100 mt-3">
    <button style="width:150px;" class="btn btn-primary">Cancel</button>
    <button style="width:150px; margin-left:50px; margin-right:50px;" class="btn btn-primary">Reset</button>
    <button onclick="previewAuditPlan();" style="width: 150px;" class="btn btn-lg btn-danger">Preview</button>

</div>-->


<div id="previewAuditPlan" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Preview Audit Plan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <center class="col-md-12"><h3 id="auditorDept"></h3></center>
                        <center class="col-md-12"><h4 id="auditorPlan"></h4></center>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>Division/Audit Zone</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="divzone_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>Department/Branch</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="deptBranch_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>Entities</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="descModal_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <h4 class="col-md-12">Execution Period</h4>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>From</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="exeFrom_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>To</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="exeTo_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <h4 class="col-md-12">Operational/Audit Period</h4>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>From</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="operationalFrom_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>To</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="operationalTo_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <h4 class="col-md-12">Audit Team</h4>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>Team Name</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="teamName_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>Team Members</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="teamMembers_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>Is Traveling Required </b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="travelingReq_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label><b>Remarks/Instructions for Auditors</b></label>
                        </div>
                        <div class="col-md-12">
                            <label id="remarksAddtn_field"></label>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button onclick="publishNewAuditPlanChanges();" type="button" class="btn btn-danger">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


