@{
    ViewData["Title"] = "Observation Assigned";
    Layout = "_Layout";
}

<script type="text/javascript">
    var g_obsId = 0;
    var g_obsTextId = 0;
    $(document).ready(function () {
      
        $('#viewMemo_reply').richText({
            imageUpload: false,
            fileUpload: false,
            videoEmbed: false,
            urls: false
        });
    });
    function reloadLocation() {
        location.reload();
    }
    function showMemo(memotxt, obs_id, obs_text_id, status,reply_txt,process,violation) {
        g_obsId=obs_id;
        g_obsTextId=obs_text_id;
        $('#viewMemoModel').modal('show');
        $('#viewMemo_memo').html(memotxt);
        $('#viewMemo_process').html(process);
        $('#viewMemo_violation').html(violation);
        if (status == 2) {
            $('#replyButton_memoReply').removeClass('d-none');
            $('#viewMemo_responded').parent().addClass('d-none');
            $('#replyrichTextWrapper').removeClass('d-none');
            $('#viewMemo_responded').html('');
        } else {
            $('#replyButton_memoReply').addClass('d-none');
            $('#viewMemo_responded').parent().removeClass('d-none');
            $('#replyrichTextWrapper').addClass('d-none');
            $('#viewMemo_responded').html(reply_txt);
        }
    }
    function replyMemo() {
        var replyTxt = ($('#viewMemo_reply').val()).length;
        if (replyTxt > 0) {
            $.ajax({
                url: "/ApiCalls/reply_observation",
                type: "POST",
                data: {
                    'AU_OBS_ID': g_obsId,
                    'OBS_TEXT_ID': g_obsTextId,
                    'REPLY': $('#viewMemo_reply').val()
                },
                cache: false,
                success: function (data) {
                    alert("Reply sent successfuly");
                    onAlertCallback(reloadLocation);

                },
                dataType: "json",
            });
        } else {
            alert("Provide your comments to proceed");
            return false;
        }
       
    }
</script>
<div class="row col-md-12 mt-3">

    <div class="row col-md-12 mt-3">
        <h5 style="color: #45c545;">Assigned Observations</h5>
    </div>
    <div class="row col-md-12 mt-3">
        <table class="table table-bordered mb-0 mt-3 bg-white table-striped">
            <thead>
                <tr>
                    <th class="col-md-1">Sr. No</th>
                    <th class="col-md-4">Entity</th>
                    <th class="col-md-2">Meno Date</th>
                    <th class="col-md-2">Reply Till </th>
                    <th class="col-md-2">Status</th>
                    <th class="col-md-1"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (ViewData["AssignedObservations"] != null)
                    {

                        var index = 1;
                        foreach (var item in (dynamic)(ViewData["AssignedObservations"]))
                        {
                            string sdate = @item.MEMO_DATE.ToString().Split(" ")[0];
                            string edate = @item.MEMO_REPLY_DATE.ToString().Split(" ")[0];
                            <tr>
                                <td class="text-center">@index</td>
                                <td>@item.ENTITY_NAME</td>
                                <td>@sdate</td>
                                <td>@edate</td>
                                <td>@item.STATUS</td>
                                <td class="text-center"><a onclick="showMemo('@item.OBSERVATION_TEXT',@item.OBS_ID,@item.OBS_TEXT_ID,'@item.STATUS_ID','@item.REPLY_TEXT','@item.PROCESS','@item.VIOLATION');" data="@item.OBSERVATION_TEXT" class="text-hover font-weight-bold text-success">View</a></td>
                            </tr>
                            index++;
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<div id="viewMemoModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Observation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="viewMemo_memo">Process</label>
                        <div id="viewMemo_process" disabled="disabled" style="max-height: 100px; height: auto; overflow-y: auto;" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_memo">Violation</label>
                        <div id="viewMemo_violation" disabled="disabled" style="max-height: 100px; height: auto; overflow-y: auto;" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_memo">Memo</label>
                        <div id="viewMemo_memo" disabled="disabled" style="max-height: 100px; height: auto; overflow-y: auto;" class="form-control"></div>
                    </div>
                    <div class="form-group d-none">
                        <label for="viewMemo_responded">Memo</label>
                        <div id="viewMemo_responded" disabled="disabled" style="max-height: 100px; height: auto; overflow-y: auto;" class="form-control"></div>
                    </div>
                    <div id="replyrichTextWrapper" class="form-group">
                        <label for="viewMemo_reply">Reply</label>
                        <textarea id="viewMemo_reply" style="max-height:150px; height:auto;" class="form-control"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="replyButton_memoReply" onclick="replyMemo();" type="button" data-dismiss="modal" class="btn btn-danger">Reply</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

