@{
    ViewData["Title"] = "Change Request";
    Layout = "_Layout";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
<script type="text/javascript">
    var g_engId = 0;
    var g_planId = 0;
    var g_entityId = 0;
    $('#document').ready(function () {
        $('#selectDateInputField').inputmask("dd-mm-yyyy");
        $('#selectEndDateInputField').inputmask("dd-mm-yyyy");
        $('#selectOPDateInputField').inputmask("dd-mm-yyyy");
        $('#selectOPEndDateInputField').inputmask("dd-mm-yyyy");

        $.ajax({
            url: g_asiBaseURL + "/Planning/audit_teams",
            type: "POST",
            data: {
                'dept_code': $('#deptSelectionBox option:selected').val()
            },
            cache: false,
            success: function (data) {
                $('#teamSelectionBox').empty();
                $('#teamSelectionBox').append('<option value="0" id="0">--Select Audit Team--</option>')
                g_teams = data;
                $.each(data, function (index, team) {
                    if (team.iS_TEAMLEAD == 'Y')
                        $('#teamSelectionBox').append('<option value="' + team.code + '" id="' + team.code + '">' + team.name + '</option>')
                });

            },
            dataType: "json",
        });
    });
    function formatDate(date) {
        return date;
    }
    function reRecommendEngagementPlan(engId, planId, entityId, startDate, endDate, op_startDate, op_endDate, teamId) {
        console.log(op_startDate, op_endDate, startDate, endDate);


       
        g_engId = engId;
        g_planId = planId;
        g_entityId = entityId;
        $('#commentsBox').modal('show');
        $('#selectDateInputField').val(formatDate(startDate));
        $('#selectEndDateInputField').val(formatDate(endDate));
        $('#selectOPDateInputField').val(formatDate(op_startDate));
        $('#selectOPEndDateInputField').val(formatDate(op_endDate));
        $('#teamSelectionBox').val(teamId);
    }
      function reloadLocation() {
        location.reload();
    }
    function validateDate(value) {
        var error = 0;
        if (value.indexOf("d") >= 0)
            error++;
        if (value.indexOf("m") >= 0)
            error++;
        if (value.indexOf("y") >= 0)
            error++;

        if (error == 0)
            return true;
        else
            return false;


    }
    function finalreRecommendEngagementPlan() {
        if ($('#commentsAreaEnteredBox').val() == "") {
            alert("Enter Comments to Proceed"); return false;
        }
        if (!validateDate($('#selectOPDateInputField').val())) {
            alert("Enter Correct Opearational Start Date to Proceed"); return false;
        }
        if (!validateDate($('#selectOPEndDateInputField').val())) {
        
            alert("Enter Correct Operational End Date to Proceed"); return false;
            }
        if (!validateDate($('#selectDateInputField').val())) {
        
            alert("Enter Correct Start Date to Proceed"); return false;
                }
        if (!validateDate($('#selectEndDateInputField').val())) {
        
            alert("Enter Correct End Date to Proceed"); return false;
        }
        if ($('#teamSelectionBox').val() == "") {
            alert("Select Team to Proceed"); return false;
        }

        var ops = $('#selectOPDateInputField').val().split('/')[2] + '-' + $('#selectOPDateInputField').val().split('/')[1] + '-' + $('#selectOPDateInputField').val().split('/')[0];
        var ope = $('#selectOPEndDateInputField').val().split('/')[2] + '-' + $('#selectOPEndDateInputField').val().split('/')[1] + '-' + $('#selectOPEndDateInputField').val().split('/')[0];
        var s = $('#selectDateInputField').val().split('/')[2] + '-' + $('#selectDateInputField').val().split('/')[1] + '-' + $('#selectDateInputField').val().split('/')[0];
        var se = $('#selectEndDateInputField').val().split('/')[2] + '-' + $('#selectEndDateInputField').val().split('/')[1] + '-' + $('#selectEndDateInputField').val().split('/')[0];

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/rerecommend_engagement_plan",
                type: "POST",
                data: {
                    'ENG_ID': g_engId,
                    'PLAN_ID': g_planId,
                    'ENTITY_ID': g_entityId,
                    'COMMENTS': $('#commentsAreaEnteredBox').val(),
                    'OP_START_DATE': ops,
                    'OP_END_DATE': ope,
                    'START_DATE': s,
                    'END_DATE': se,
                    'TEAM_ID': $('#teamSelectionBox').val(),
                },
                cache: false,
                success: function (data) {
                alert(data.Message);
                    onAlertCallback(reloadLocation);
                },
                dataType: "json",
            });

    }
    function approveEngagementPlan(engId) {
        g_engId=engId;
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/approve_engagement_plan",
                type: "POST",
                data: {
                    'ENG_ID': g_engId
                },
                cache: false,
                success: function (data) {
                    alert("Successfully approved Engagement Plan");
                    onAlertCallback(reloadLocation);
                },
                dataType: "json",
            });
    }
</script>
<div class="row w-100" style="margin-top:50px;">
    <h3 style="color: #45c545;">Reffered Back Engagement Plan List</h3>
</div>
<div class="row col-md-12 mt-3">
    <table id="observation_panel" class="table table-hover table-bordered table-hover mt-3 table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
            <tr>
                <th>Entity Name</th>
                <th>Team Name</th>
                <th>Operation Start Date</th>
                <th>Operation End Date</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Remarks</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (ViewData["EngagementPlans"] != null)
                {
                    foreach (var item in (dynamic)(ViewData["EngagementPlans"]))
                    {
                        string sDate = @item.AUDIT_STARTDATE.ToString();
                        sDate = sDate.Split(" ")[0];
                        string eDate = @item.AUDIT_ENDDATE.ToString();
                        eDate = eDate.Split(" ")[0];
                         string osDate = @item.OP_STARTDATE.ToString();
                        osDate = osDate.Split(" ")[0];
                        string oeDate = @item.OP_ENDDATE.ToString();
                        oeDate = oeDate.Split(" ")[0];
                        <tr id="@item.ENG_ID">
                            <td class="col-md-auto">@item.ENTITY_NAME</td>
                            <td class="col-md-auto">@item.TEAM_NAME</td>
                            <td class="col-md-auto">@osDate</td>
                            <td class="col-md-auto">@oeDate</td>
                            <td class="col-md-auto">@sDate</td>
                            <td class="col-md-auto">@eDate</td>
                            <td class="col-md-auto">@item.COMMENTS</td>
                            <td class="col-md-auto"><a onclick="reRecommendEngagementPlan(@item.ENG_ID, @item.PLAN_ID,@item.ENTITY_ID, '@sDate', '@eDate', '@osDate', '@oeDate', @item.TEAM_ID);" href="#" class="text-danger text-hover">Recommend Again</a></td>
                        </tr>

                    }
                }
            }
        </tbody>
    </table>
</div>
 <div id="commentsBox" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                     <div class="form-group">
                        <label for="selectOPDateInputField">Operational Start Date</label>
                        <input id="selectOPDateInputField" data-inputmask="'alias': 'date'" class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label for="selectOPEndDateInputField">Operational End Date</label>
                        <input id="selectOPEndDateInputField" data-inputmask="'alias': 'date'" class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label for="selectDateInputField">Start Date</label>
                        <input id="selectDateInputField" data-inputmask="'alias': 'date'" class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label for="selectEndDateInputField">End Date</label>
                        <input id="selectEndDateInputField" data-inputmask="'alias': 'date'" class="form-control" type="trxt" />
                    </div>

                    <div class="form-group">
                        <label for="teamSelectionBox">Audit Team</label>
                        <select id="teamSelectionBox" class="form-select form-control" aria-label="Default select example">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="commentsAreaEnteredBox">Comments</label>
                       <textarea class="form-control" id="commentsAreaEnteredBox"></textarea>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="finalreRecommendEngagementPlan();" type="button" class="btn btn-danger">Submit</button>
            </div>
        </div>
    </div>
</div>
  