@{
    ViewData["Title"] = "Task List";
    Layout = "_Layout";
}
<style type="text/css">
    .strike-out {
        text-decoration: line-through !important;

    }</style>
<div>
    <div class="row" style="margin-top:20px;">
        <div class="col-md-12">
            <h3 style="color: #45c545;">Task List/Job Assignment</h3>
        </div>

        <div class="col-md-12 mt-3">
            <h6>Job Assigned To: @ViewData["EMP_NAME"] </h6>
            <h6>PP. No. @ViewData["PPNumber"] </h6>
        </div>


        <table class="table table-hover table-bordered table-hover mt-3 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th class="font-weight-bold text-center" width="5%">Sr. No</th>
                    <th class="col-md-2 font-weight-bold text-center">Audit Period</th>
                    <th class="col-md-auto font-weight-bold text-center">Entity Type</th>
                    <th class="col-md-auto font-weight-bold text-center">Audit Entity</th>
                    <th class="col-md-auto font-weight-bold text-center">Team Name</th>
                    <th class="col-md-auto font-weight-bold text-center">Start Date</th>
                    <th class="col-md-auto font-weight-bold text-center">End Date</th>
                    <th class="col-md-auto font-weight-bold text-center">Stage</th>                    
                    <th colspan="5" class="col-md-auto font-weight-bold text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (ViewData["TaskList"] != null)
                    {

                        var index = 1;
                        foreach (var item in (dynamic)(ViewData["TaskList"]))
                        {
                            var sDate = item.AUDIT_START_DATE.ToString();
                            var eDate = item.AUDIT_END_DATE.ToString();
                            var osdate = item.OPERATION_STARTDATE.ToString();
                            var oedate = item.OPERATION_ENDDATE.ToString();

                            <tr>
                                <td class="text-center" style="width:50px">@index</td>
                                <td class="col-md-auto text-center">@item.AUDIT_YEAR</td>
                                <td class="col-md-auto text-center">@item.ENTITY_TYPE_DESC</td>
                                <td class="col-md-auto text-center">@item.ENTITY_NAME</td>
                                <td class="col-md-auto text-center">@item.TEAM_NAME</td>
                                <td class="col-md-1 text-center">@sDate.Split(" ")[0]</td>
                                <td class="col-md-1 text-center">@eDate.Split(" ")[0]</td>
                                <td class="col-md-1 text-center">
                                    @{
                                        if (item.STATUS_ID == 6)
                                        {
                                            <span class="badge badge-success rounded-pill d-inline">@item.ENG_STATUS</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-danger rounded-pill d-inline">@item.ENG_STATUS</span>
                                        }
                                    }
                                </td>
                                <td class="text-hover text-danger text-center">
                                    @{

                                        if (item.STATUS_ID == 1)
                                        {
                                            <a href="../Engagement/Join?engId=@item.ENG_PLAN_ID">@item.ENG_NEXT_STATUS</a>
                                        }
                                        else if (item.STATUS_ID == 2)
                                        {
                                            if (item.ENTITY_TYPE == 6 || item.ENTITY_TYPE == 28)
                                            {
                                                <a href="../Execution/checklist?engId=@item.ENG_PLAN_ID">@item.ENG_NEXT_STATUS</a>
                                            }
                                            else if (item.ENTITY_TYPE == 5 || item.ENTITY_TYPE == 7 || item.ENTITY_TYPE == 17 || item.ENTITY_TYPE == 20 || item.ENTITY_TYPE == 21 || item.ENTITY_TYPE == 22 || item.ENTITY_TYPE == 23 || item.ENTITY_TYPE == 25)
                                            {
                                                <a href="../Execution/cau_observation?engId=@item.ENG_PLAN_ID">@item.ENG_NEXT_STATUS</a>
                                            }
                                            else
                                            {
                                                <a href="../Execution/audit_execution?engId=@item.ENG_PLAN_ID">@item.ENG_NEXT_STATUS</a>
                                            }

                                        }
                                        else if (item.STATUS_ID == 3)
                                        {
                                            if (item.ENTITY_TYPE == 6 || item.ENTITY_TYPE == 28)
                                            {
                                                <a href="../Execution/manage_observations_branches?engId=@item.ENG_PLAN_ID">@item.ENG_NEXT_STATUS</a>
                                            }
                                            else if (item.ENTITY_TYPE == 5 || item.ENTITY_TYPE == 7 || item.ENTITY_TYPE == 17 || item.ENTITY_TYPE == 20 || item.ENTITY_TYPE == 21 || item.ENTITY_TYPE == 22 || item.ENTITY_TYPE == 23 || item.ENTITY_TYPE == 25)
                                            {
                                                <a href="../Execution/manage_observations_branches?engId=@item.ENG_PLAN_ID">@item.ENG_NEXT_STATUS</a>
                                            }
                                            else
                                            {
                                                <a href="../Execution/manage_observations?engId=@item.ENG_PLAN_ID">@item.ENG_NEXT_STATUS</a>
                                            }                                           

                                        }
                                        else if (item.STATUS_ID == 4)
                                        {
                                            if (item.ENTITY_TYPE == 6 || item.ENTITY_TYPE == 28)
                                            {
                                                <a href="../Reports/draft_audit_report_branch?engId=@item.ENG_PLAN_ID">@item.ENG_NEXT_STATUS</a>
                                            }
                                            else if (item.ENTITY_TYPE == 5 || item.ENTITY_TYPE == 7 || item.ENTITY_TYPE == 17 || item.ENTITY_TYPE == 20 || item.ENTITY_TYPE == 21 || item.ENTITY_TYPE == 22 || item.ENTITY_TYPE == 23 || item.ENTITY_TYPE == 25)
                                            {
                                                <a href="../Reports/draft_audit_report_branch?engId=@item.ENG_PLAN_ID">@item.ENG_NEXT_STATUS</a>
                                            }
                                            else
                                            {
                                                <a href="../Reports/draft_audit_report?engId=@item.ENG_PLAN_ID">@item.ENG_NEXT_STATUS</a>
                                            }
                                          
                                        }
                                        else if (item.STATUS_ID == 5)
                                        {
                                            <a href="#">Meeting with Managment</a>
                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    }
                                </td>
                                <td class="col-md-1 text-center">
                                    @{
                                        if (item.WORKING_PAPER.Trim().Length > 0)
                                        {
                                            <a href="../WorkingPaper/loan_case_file?engId=@item.ENG_PLAN_ID">@item.WORKING_PAPER</a>
                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    }
                                    
                                </td>

                              
                                <td class="col-md-1 text-center">
                                    @{
                                        if (item.PRE_INFO.Trim().Length > 0)
                                        {
                                            <a href="../sampling/list_reports?engId=@item.ENG_PLAN_ID">Execption Reports</a>
                                        }
                                        else
                                        {
                                            <a href="../sampling/list_reports?engId=@item.ENG_PLAN_ID">Execption Reports</a>
                                        }
                                    }

                                </td>
                                <td class="col-md-1 text-center">
                                   
                                         <a href="../sampling/list_samples?engId=@item.ENG_PLAN_ID">Audit Sampling</a>                               
                                  

                                </td>
                                <td class="col-md-1 text-center">
                                    @{
                                        if (item.ISCLOSE == "Z")
                                        {
                                            <a href="../Execution/closing?engId=@item.ENG_PLAN_ID">Closing/Exit</a>
                                        }else{
                                            <span>-</span>
                                        }
                                    }

                                </td>
                            </tr>
                            index++;
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>