@{
    ViewData["Title"] = "Branch Observation";
    Layout = "_Layout";
}
<script type="text/javascript" src="~/lib/rich-text-editor/jquery.richtext.js"></script>
<script type="text/javascript">
    $('#document').ready(function () {
        $('#template_box').richText({
            imageUpload: false,
            fileUpload: false,
            videoEmbed: false,
            urls: false
        });
       
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#sidebar_policy').hide();
    });

    function div_risksubcategoryShowHide() {
        if ($('#riskGroupSelectBox option:selected').val() == 0) {
            $('#div_risksubcategory').hide();
            $('#div_activityContainer').hide();
        }
        else {
            $('#div_risksubcategory').show();
            $('#div_activityContainer').hide();
            $('#riskSubGroupSelectBox').empty();
            $.ajax({
                url: "/Setup/process_details",
                type: "POST",
                data: {
                    'ProcessId': $('#riskGroupSelectBox option:selected').val(),
                },
                cache: false,
                success: function (data) {
                    $('#riskSubGroupSelectBox').append("<option value=\"0\" id=\"0\">--Select Sub Group--</option>");
                    $.each(data, function (index, item) {
                        $('#riskSubGroupSelectBox').append("<option value=\"" + item.id + "\"> " + item.title +" </option > ");
                    });

                },
                dataType: "json",
            });
        }
    }
    function div_activityContainerShowHide() {
        if ($('#riskSubGroupSelectBox option:selected').val() == 0)
            $('#div_activityContainer').hide();
        else
            $('#div_activityContainer').show();
        $('#riskActivitiesSelectBox').empty();
        $.ajax({
            url: "/Setup/process_transactions",
            type: "POST",
            data: {
                'ProcessDetailId': $('#riskSubGroupSelectBox option:selected').val(),
            },
            cache: false,
            success: function (data) {
                $('#riskActivitiesSelectBox').append("<option value=\"0\" id=\"0\">--Select Sub Group--</option>");
                $.each(data, function (index, item) {
                    $('#riskActivitiesSelectBox').append("<option value=\"" + item.id + "\"> " + item.description + "</option>");
                });

            },
            dataType: "json",
        });
    }
    function getAuditObservationTemplate() {
        if ($('#riskActivitiesSelectBox option:selected').val() == 0)
            $('#template_box').val('').trigger('change');
        else {
            $('#template_box').val('').trigger('change');
            $.ajax({
                url: "/Execution/audit_observation_template",
                type: "POST",
                data: {
                    'ACTIVITY_ID': $('#riskActivitiesSelectBox option:selected').val(),
                },
                cache: false,
                success: function (data) {
                    $.each(data, function (index, item) {
                        $('#template_box').val(item.obS_TEMPLATE).trigger('change');
                    });

                },
                dataType: "json",
            });
        }
    }

    function div_zoneBranchesShowHide() {
        if ($('#zoneSearchField option:selected').val() == 0) {
            $('#brSearchField').empty();
            $('#brSearchField').append('<option value="0" id="0">--Select Branch--</option>');
        }
        else {
            $('#brSearchField').empty();
            $('#brSearchField').append('<option value="0" id="0">--Select Branch--</option>')
            $.ajax({
                url: "/Planning/zone_branches",
                type: "POST",
                data: {
                    'zone_code': $('#zoneSearchField option:selected').val(),
                    'session_check':false
                },
                cache: false,
                success: function (data) {
                    $.each(data, function (index, branch) {
                        $('#brSearchField').append('<option value="' + branch.branchcode + '" id="' + branch.branchcode + '">' + branch.description + '</option>')
                    });
                },
                dataType: "json",
            });
        }
    }

</script>
<div class="row col-md-12">
    <div class="col-md-12 mt-3">
        <center class="w-100"><h3>Observation</h3></center>
        <div>
            <h5>Process</h5>
        </div>
        <select id="riskGroupSelectBox" onchange="div_risksubcategoryShowHide();" class="form-select form-control" aria-label="Default select example">
            <option value="0" id="0" selected="selected">--Select Voilation Category--</option>
            @{
                if (ViewData["ProcessList"] != null)
                {
                    foreach (var item in (dynamic)(ViewData["ProcessList"]))
                    {
                        <option id="@item.P_ID" value="@item.P_ID">@item.P_NAME</option>
                    }
                }
            }
        </select>
    </div>
    <div id="div_risksubcategory" style="display:none;" class="col-md-12 mt-3">
        <h5>Activity</h5>
        <select id="riskSubGroupSelectBox" onchange="div_activityContainerShowHide();" class="form-select form-control" aria-label="Default select example">
        </select>
    </div>
    <div id="div_activityContainer" style="display:none;" class="col-md-12 mt-3">
        <h5>Observation</h5>
        <select id="riskActivitiesSelectBox" onchange="getAuditObservationTemplate();" class="form-select form-control" aria-label="Default select example">
        </select>
    </div>
    <div class="col-md-12 mt-3">
        <div class="page-wrapper box-content">
            <textarea id="template_box" class="content" name="example"></textarea>
        </div>
    </div>
    <div class="row col-md-12 mt-3">
        <div class="row col-md-12 mt-3">
            <div class="col-md-2 mt-3">
                <label>Zones</label>
            </div>
            <div class="col-md-4 mt-3">
                <select id="zoneSearchField" onchange="div_zoneBranchesShowHide();" class="form-select form-control" aria-label="Default select example">
                    <option value="0" id="0" selected="selected">--Select Zone--</option>
                    @{
                        if (ViewData["ZonesList"] != null)
                        {
                            foreach (var item in (dynamic)(ViewData["ZonesList"]))
                            {
                                <option id="@item.ZONECODE" value="@item.ZONECODE">@item.ZONENAME</option>
                            }
                        }
                    }
                </select>
            </div>

            <div class="col-md-2 mt-3">
                <label>Branches</label>
            </div>
            <div class="col-md-4 mt-3">
                <select id="brSearchField"  class="form-select form-control" aria-label="Default select example">
                    <option value="0" id="0" selected="selected">--Select Branch--</option>
                  
                </select>
            </div>

        </div>

            <div class="row col-md-12 mt-3">
                <div class="col-md-3 mt-3">
                    <label>Responsible P.P. No.</label>
                </div>
                <div class="col-md-4 mt-3">
                    <input type="number" />
                </div>
            </div>
            <div class="row col-md-12 mt-3">
                <div class="col-md-3">
                    <label>No. of Days to Reply</label>
                </div>
                <div class="col-md-3">
                    <select class="form-control form-select">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label>Attachments</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control" type="file" multiple="multiple" style="padding-top:3px;" />
                </div>
            </div>


            <div class="row col-md-12 mt-5">
                <button class="btn btn-primary">Save</button>
                <button style="margin-left:20px;" class="btn btn-primary">Submit to Auditee  </button>

            </div>

        </div>
    </div>