@{
    ViewData["Title"] = "Manage Observations for Branches";
    Layout = "_Layout";
}



<script type="text/javascript">
    var g_obsId = 0;
    var g_newStatusId = 0;
    var g_riskId = 0;
    var g_currentStatus = 0;
    $(document).ready(function () {
        var entName = $('#manageObsPanel tbody .entity_name_field:first').text();
        $('#entityNameField').val(entName);
        var periodName = $('#manageObsPanel tbody .period_name_field:first').text();
        $('#auditPeriodNameField').val(periodName);

        
        $('#updateMemoContent').richText({
            imageUpload: false,
            fileUpload: false,
            videoEmbed: false,
            urls: false
        });
    });
    function reloadLocation() {
        location.reload();
    }

    function ObservationViewerPanel(obs_id, status_id, risk_id) {
        g_obsId = obs_id;
        g_riskId = risk_id;
        g_currentStatus = status_id;
        $.ajax({
            url: "/ApiCalls/get_observation_branches",
            type: "POST",
            data: {
                'OBS_ID': obs_id
            },
            cache: false,
            success: function (data) {
                console.log(data);
                $('#viewMemoModel').modal('show');
                $('#viewMemo_memo').html(data[0].obS_TEXT);
                $('#viewMemo_response').html(data[0].obS_REPLY);

                $('#viewMemo_process').html(data[0].process);
                $('#viewMemo_subprocess').html(data[0].suB_PROCESS);
                $('#viewMemo_violation').html(data[0].checklist_Details);
                $('#listofRespPersons tbody').empty();
                if (data[0].responsiblE_PPs.length > 0) {
                    $.each(data[0].responsiblE_PPs, function (j, pp) {
                        var srNo = $('#listofRespPersons tbody tr').length;
                        srNo++;
                        $('#listofRespPersons tbody').append('<tr id="tr_' + pp.pP_NO + '"><td>' + srNo + '</td><td>' + pp.pP_NO + '</td><td>' + pp.emP_NAME + '</td><td>' + pp.loaN_CASE + '</td><td>' + pp.lC_AMOUNT + '</td><td>' + pp.accounT_NUMBER + '</td><td>' + pp.acC_AMOUNT + '</td></tr>');
                    });
                }

                if (g_currentStatus == 1) {
                    $('#dropButton_memoReply').removeClass('d-none');
                    $('#submitAuditeeButton_memoReply').removeClass('d-none');
                    $('#settleButton_memoReply').addClass('d-none');
                    $('#addDraftButton_memoReply').addClass('d-none');
                }
                else if (g_currentStatus == 3) {
                    if (g_riskId == 3) {
                        $('#dropButton_memoReply').addClass('d-none');
                        $('#submitAuditeeButton_memoReply').addClass('d-none');
                        $('#settleButton_memoReply').removeClass('d-none');
                        $('#addDraftButton_memoReply').removeClass('d-none');
                    }
                    else {
                        $('#dropButton_memoReply').addClass('d-none');
                        $('#submitAuditeeButton_memoReply').addClass('d-none');
                        $('#settleButton_memoReply').removeClass('d-none');
                        $('#addDraftButton_memoReply').removeClass('d-none');
                    }

                }
                else {
                    $('#dropButton_memoReply').addClass('d-none');
                    $('#submitAuditeeButton_memoReply').addClass('d-none');
                    $('#settleButton_memoReply').addClass('d-none');
                    $('#addDraftButton_memoReply').addClass('d-none');
                }

            },
            dataType: "json",
        });

    }
    function ObservationUpdatePanel(obs_id) {
        g_obsId = obs_id;
        $.ajax({
            url: "/ApiCalls/get_observation_branches",
            type: "POST",
            data: {
                'OBS_ID': obs_id
            },
            cache: false,
            success: function (data) {
                console.log(data);
                $('#updateMemoModel').modal('show');
                $('#updateMemoContent').val(data[0].obS_TEXT).trigger('change');                
            },
            dataType: "json",
        });

    }
    
    function finalCommentsButtonSave() {
        if ($('#commentAreaInCommentsBox').val() == "") {
            alert("Auditor Comments are Mandatory");
            return;
        }
        $.ajax({
            url: "/ApiCalls/update_observation_status",
            type: "POST",
            data: {
                'OBS_ID': g_obsId,
                'NEW_STATUS_ID': g_newStatusId,
                'RISK_ID': g_riskId,
                'AUDITOR_COMMENT': $('#commentAreaInCommentsBox').val()
            },
            cache: false,
            success: function (data) {
                if (data.Status==true) {
                    alert(data.Message);
                    onAlertCallback(reloadLocation);
                } else {
                    alert("Failed!! please try again");
                    onAlertCallback(reloadLocation);
                }
            },
            dataType: "json",
        });
    }
    function updateObservationStatus(obs_id, new_status_id, risk_id) {
        g_obsId = obs_id;
        g_newStatusId = new_status_id;
        g_riskId = risk_id;
        $('#commentsBox').modal('show');
    }
    function dropObservation(obs_id, new_status_id, risk_id) {
        g_obsId = obs_id;
        g_newStatusId = new_status_id;
        g_riskId = risk_id;
        $.ajax({
            url: "/ApiCalls/drop_observation",
            type: "POST",
            data: {
                'OBS_ID': g_obsId,
                'NEW_STATUS_ID': g_newStatusId,
                'RISK_ID': g_riskId
            },
            cache: false,
            success: function (data) {
                alert(data.Message);
                onAlertCallback(reloadLocation);
            },
            dataType: "json",
        });
    }
    function submitObservationToAuditee(obs_id, new_status_id, risk_id) {
        g_obsId = obs_id;
        g_newStatusId = new_status_id;
        g_riskId = risk_id;
        $.ajax({
            url: "/ApiCalls/submit_observation_to_auditee",
            type: "POST",
            data: {
                'OBS_ID': g_obsId,
                'NEW_STATUS_ID': g_newStatusId,
                'RISK_ID': g_riskId
            },
            cache: false,
            success: function (data) {
                alert(data.Message);
                onAlertCallback(reloadLocation);
            },
            dataType: "json",
        });
    }

    function finalUpdateMemoContent(obs_id){
        g_obsId = obs_id;      
        $.ajax({
            url: "/ApiCalls/update_observation_text",
            type: "POST",
            data: {
                'OBS_ID': g_obsId,
                'OBS_TEXT': $('.richText-editor').html()
            },
            cache: false,
            success: function (data) {
                alert(data.Message);
                onAlertCallback(reloadLocation);
            },
            dataType: "json",
        });

    }

    function getEntityObservation() {
        $('#manageObsPanel tbody').empty();
        if ($('#entitySelectField option:selected').val() != 0) {            
            $.ajax({
                url: "/ApiCalls/get_observation_branches",
                type: "POST",
                data: {
                    'ENG_ID': $('#entitySelectField option:selected').val()
                },
                cache: false,
                success: function (data) {
                    $.each(data, function (i, v) {
                        $('#auditPeriodNameField').val(v.period);
                        if (v.obS_STATUS_ID==1)
                        $('#manageObsPanel tbody').append(' <tr id="' + v.obS_ID + '"><td class="text-center">' + v.memO_NO + '</td><td>' + v.process + '</td><td>' + v.suB_PROCESS + '</td><td>' + v.checklist_Details + '</td><td></td><td class="d-none entity_name_field">' + v.entitY_NAME + '</td><td class="d-none period_name_field">' + v.period + '</td><td>' + v.obS_RISK + '</td><td>' + v.obS_STATUS + '</td><td class="text-center"><a onclick="ObservationViewerPanel(' + v.obS_ID + ',' + v.obS_STATUS_ID + ', ' + v.obS_RISK_ID + ')" href="#" class="text-hover">View Memo</a></td><td><a onclick="ObservationUpdatePanel(' + v.obS_ID + ')" href="#" class="text-hover">Update Memo</a></td></tr>');
                        else
                            $('#manageObsPanel tbody').append(' <tr id="' + v.obS_ID + '"><td class="text-center">' + v.memO_NO + '</td><td>' + v.process + '</td><td>' + v.suB_PROCESS + '</td><td>' + v.checklist_Details + '</td><td></td><td class="d-none entity_name_field">' + v.entitY_NAME + '</td><td class="d-none period_name_field">' + v.period + '</td><td>' + v.obS_RISK + '</td><td>' + v.obS_STATUS + '</td><td class="text-center"><a onclick="ObservationViewerPanel(' + v.obS_ID + ',' + v.obS_STATUS_ID + ', ' + v.obS_RISK_ID + ')" href="#" class="text-hover">View Memo</a></td><td>--</td></tr>');
                    });

                },
                dataType: "json",
            });

        }
    }

</script>

<div class="row">
    <div class="col-md-12 mt-3">
        <h3 style=" display:block;color: #45c545;">Manage Audit Observations</h3>
    </div>
    <div class="row col-md-12 mt-3">
        <div class="col-md-2">
            <label><b>Entity:</b></label>
        </div>
        <div class="col-md-10">
            <input id="entityNameField" disabled="disabled" class="form-control ml-1 d-none" type="text" />
            <select id="entitySelectField" onchange="getEntityObservation()" class="form-control form-select">
                <option value="0" id="0">--Select Audit Entity--</option>
                @{
                    if (ViewData["EntitiesList"] != null)
                    {
                        foreach (var item in (dynamic)(ViewData["EntitiesList"]))
                        {
                            <option value="@item.ENG_ID" id="@item.ENG_ID">@item.NAME</option>
                        }
                    }
                }

            </select>
        </div>
    </div>
    <div class="row col-md-12 mt-3">
        <div class="col-md-2">
            <label><b>Audit Period:</b></label>
        </div>
        <div class="col-md-10 ">
            <input id="auditPeriodNameField" disabled="disabled" class="form-control ml-1" type="text" />
        </div>
    </div>
    <div class="row col-md-12 mt-3">
        <table id="manageObsPanel" class="table table-hover table-bordered table-hover mt-3 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th class="col-md-auto">Memo No.</th>
                    <th class="col-md-auto">Process</th>
                    <th class="col-md-auto">Sub Process</th>
                    <th class="col-md-auto">Checklist Detail</th>
                    <th class="col-md-auto">No. of Instances</th>
                    <th class="col-md-auto d-none">Observation</th>
                    <th class="col-md-auto d-none">Auditee Response</th>
                    <th class="col-md-auto">Risk Category</th>
                    <th class="col-md-auto">Status</th>
                    <th class="d-none"></th>
                    <th class="d-none"></th>
                    <th class="col-md-auto text-center"></th>
                    <th class="col-md-auto text-center"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (ViewData["ManageObservations"] != null)
                    {

                        foreach (var item in (dynamic)(ViewData["ManageObservations"]))
                        {
                                <tr id="@item.OBS_ID">
                                    <td class="text-center">@item.MEMO_NO</td>
                                    <td>@item.PROCESS</td>
                                    <td>@item.SUB_PROCESS</td>
                                    <td>@item.Checklist_Details</td>
                                <td></td>
                                    <td class="d-none entity_name_field">@item.ENTITY_NAME</td>
                                    <td class="d-none period_name_field">@item.PERIOD</td>
                                    <td>@item.OBS_RISK</td>
                                    <td>@item.OBS_STATUS</td>
                                    <td class="text-center"><a onclick="ObservationViewerPanel(@item.OBS_ID,@item.OBS_STATUS_ID, @item.OBS_RISK_ID)" href="#" class="text-hover">View Memo</a></td>
                                    <td class="text-center"><a onclick="ObservationUpdatePanel(@item.OBS_ID )" href="#" class="text-hover">Edit Memo</a></td>                                   
                                </tr>
                        }
                    }
                }
            </tbody>

        </table>
    </div>

</div>
<div id="commentsBox" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Auditor Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="commentAreaInCommentsBox">Comments</label>
                        <textarea class="form-control" rows="4" id="commentAreaInCommentsBox" placeholder="Enter Comments here.."></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="finalCommentsButtonSave();" id="finalCommentsButtonSave" type="button" class="btn btn-danger">Submit</button>
            </div>
        </div>
    </div>
</div>


<div id="viewMemoModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Observation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="viewMemo_process" class="font-weight-bold">Process</label>
                        <div id="viewMemo_process" disabled="disabled" style="max-height: 100px; height: auto; overflow-y: auto;" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_subprocess" class="font-weight-bold">Sub Process</label>
                        <div id="viewMemo_subprocess" disabled="disabled" style="max-height: 100px; height: auto; overflow-y: auto;" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_violation" class="font-weight-bold">Checklist Details</label>
                        <div id="viewMemo_violation" disabled="disabled" style="max-height: 100px; height: auto; overflow-y: auto;" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_respPP" class="font-weight-bold">Responsible Personals</label>
                        <div class="col-md-12 pl-0 pr-0">
                            <table id="listofRespPersons" class="table table-hover table-bordered table-hover mt-3 table-striped">
                                <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                                    <tr>
                                        <th class="col-md- auto font-weight-bold">Sr.No</th>
                                        <th class="col-md- auto font-weight-bold">P.P. No</th>
                                        <th class="col-md- auto font-weight-bold">Name</th>
                                        <th class="col-md- auto font-weight-bold">Loan Case</th>
                                        <th class="col-md- auto font-weight-bold">LC Amount</th>
                                        <th class="col-md- auto font-weight-bold">Account No.</th>
                                        <th class="col-md- auto font-weight-bold">ACC Amount</th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_memo" class="font-weight-bold">Memo</label>
                        <div id="viewMemo_memo" disabled="disabled" style="height: auto; overflow-y: auto;" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_response" class="font-weight-bold">Auditee Response</label>
                        <div id="viewMemo_response" disabled="disabled" style="height: auto; overflow-y: auto;" class="form-control"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="dropButton_memoReply" onclick="dropObservation(g_obsId,23,g_riskId);" type="button" data-dismiss="modal" class="btn btn-danger d-none">Drop Observation</button>
                <button id="submitAuditeeButton_memoReply" onclick="submitObservationToAuditee(g_obsId, 2, g_riskId);" type="button" data-dismiss="modal" class="btn btn-danger d-none">Submit to Auditee</button>
                <button id="settleButton_memoReply" onclick="updateObservationStatus(g_obsId, g_currentStatus + 1, g_riskId);" type="button" data-dismiss="modal" class="btn btn-danger d-none">Settle Observation</button>
                <button id="addDraftButton_memoReply" onclick="updateObservationStatus(g_obsId, g_currentStatus + 2, g_riskId);" type="button" data-dismiss="modal" class="btn btn-danger d-none">Add to Draft</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="updateMemoModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Update Observation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="viewMemo_memo" class="font-weight-bold">Memo</label>
                        <textarea id="updateMemoContent" rows="5" class="form-control">

                        </textarea>
                        </div>
                   

                </form>
            </div>
            <div class="modal-footer">
               
                <button id="updateMemoContent_submit" onclick="finalUpdateMemoContent(g_obsId);" type="button" data-dismiss="modal" class="btn btn-danger">Update Memo Text</button>
                
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>