@{
    ViewData["Title"] = "Manage Draft Report Paras";
    Layout = "_Layout";
}


<script type="text/javascript">
    var g_obsId = 0;
    var g_newStatusId = 0;
    var g_riskId = 0;
    $(document).ready(function () {
        var entName = $('#manageObsPanel tbody .entity_name_field:first').text();
        $('#entityNameField').val(entName);
        var periodName = $('#manageObsPanel tbody .period_name_field:first').text();
        $('#auditPeriodNameField').val(periodName);
        $.each($('.obs_text'), function (i, ele) {
            var text = $(ele).attr('data');
            $(ele).append(text);
        });
        $.each($('.obs_reply'), function (i, ele) {
            var text = $(ele).attr('data');
            $(ele).append(text);
        });

    });
    function reloadLocation() {
        location.reload();
    }
    function finalCommentsButtonSave() {
        var svpComments = "";
        if (g_newStatusId == 9) {
            svpComments = $('#commentAreaInCommentsBox').val();
            if ($('#commentAreaInCommentsBox').val() == "") {
                alert("Auditor Comments are Mandatory");
                return;
            }
        }           
      

        $.ajax({
            url: "/ApiCalls/update_observation_status",
            type: "POST",
            data: {
                'OBS_ID': g_obsId,
                'NEW_STATUS_ID': g_newStatusId,
                'RISK_ID': g_riskId,
                'AUDITOR_COMMENT': svpComments
            },
            cache: false,
            success: function (data) {
                if (data) {
                    alert("Successfully done");
                    onAlertCallback(reloadLocation);
                } else {
                    alert("Failed!! please try again");
                    onAlertCallback(reloadLocation);
                }
            },
            dataType: "json",
        });

    }
    function updateObservationStatus(obs_id, new_status_id, risk_id) {
        g_obsId = obs_id;
        g_newStatusId = new_status_id;
        g_riskId = risk_id;
        if (new_status_id == 9)
            $('#commentsBox').modal('show');
        else
            finalCommentsButtonSave();
    }

</script>

<div class="row">
    <div class="col-md-12 mt-3">
        <h3 style=" display:block;color: #45c545;">Manage Draft Report Paras</h3>
    </div>
    <div class="row col-md-12 mt-3">
        <div class="col-md-2">
            <label><b>Entity:</b></label>
        </div>
        <div class="col-md-10">
            <input id="entityNameField" disabled="disabled" class="form-control ml-1" type="text" />
        </div>
    </div>
    <div class="row col-md-12 mt-3">
        <div class="col-md-2">
            <label><b>Audit Period:</b></label>
        </div>
        <div class="col-md-10 ">
            <input id="auditPeriodNameField" disabled="disabled" class="form-control ml-1" type="text" />
        </div>
    </div>
    <div class="row col-md-12 mt-3">
        <table id="manageObsPanel" class="table table-bordered table-hover mb-0 mt-3 bg-white table-striped">
            <thead style="background-color:aquamarine;">
                <tr>
                    <th class="col-md-1 text-center">Memo No.</th>
                    <th class="col-md-2 text-center">Process</th>
                    <th class="col-md-2 text-center">Violation</th>
                    <th class="col-md-3">Observation</th>
                    <th class="col-md-3">Auditee Response</th>
                    <th class="col-md-3">Auditor Response</th>
                    <th class="col-md-3">Head Response</th>
                    <th class="col-md-1">Risk Category</th>
                    <th class="col-md-1">Status</th>
                    <th class="d-none"></th>
                    <th class="d-none"></th>
                    <th class="col-md-1 text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (ViewData["ManageObservations"] != null)
                    {

                        foreach (var item in (dynamic)(ViewData["ManageObservations"]))
                        {
                                <tr>
                                    <td class="text-center">@item.MEMO_NO</td>
                                    <td>@item.PROCESS</td>
                                    <td>@item.VIOLATION</td>
                                    <td class="obs_text" data="@item.OBS_TEXT"></td>
                                    <td class="obs_reply" data="@item.OBS_REPLY"></td>
                                    <td>@item.AUD_REPLY</td>
                                    <td>@item.HEAD_REPLY</td>
                                    <td>@item.OBS_RISK</td>
                                    <td>@item.OBS_STATUS</td>
                                    <td class="d-none entity_name_field">@item.ENTITY_NAME</td>
                                    <td class="d-none period_name_field">@item.PERIOD</td>
                                    @if (item.OBS_STATUS_ID == 5)
                                    {
                                        <td class="text-center">
                                            <a href="#" onclick="updateObservationStatus(@item.OBS_ID,9, @item.OBS_RISK_ID);" class="text-hover text-danger mr-5px"><small>Settle</small></a>
                                            /
                                            <a href="#" onclick="updateObservationStatus(@item.OBS_ID,8, @item.OBS_RISK_ID);" class="text-hover text-primary ml-5px"><small>Add to Final Report</small></a>
                                        </td>

                                    }
                                    else
                                    {
                                        <td class="text-center"><small>-</small></td>

                                    }

                                </tr>
                        }
                    }
                }
            </tbody>

        </table>
    </div>

</div>

<div id="commentsBox" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Auditor Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="commentAreaInCommentsBox">Comments</label>
                        <textarea class="form-control" rows="4" id="commentAreaInCommentsBox" placeholder="Enter Comments here.."></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="finalCommentsButtonSave();" id="finalCommentsButtonSave" type="button" class="btn btn-danger">Submit</button>
            </div>
        </div>
    </div>
</div>

