@{
    ViewData["Title"] = "Update Audit Paras";
    Layout = "_Layout";
}
<script type="text/javascript">
    var g_np_id = 0;
    var g_op_id = 0;
    var g_ind = "";
    var g_allObs = [];
    var g_respUser = [];
    var g_respUsersArr = [];
    var g_index=0;
    $(document).ready(function () {
        $('#entitySelectField').select2();
        $('#paraTextViewer').richText({
            imageUpload: false,
            fileUpload: false,
            videoEmbed: false,
            urls: false
        });
        const currentYear = new Date().getFullYear();
        for (var i = 1970; i <= currentYear; i++) {
            $('#auditPara_Period').append('<option value="' + i + '">' + i + '</option>');
        }



    });
    function reloadLocation() {
        getEntityObservation();
    }
    function getEntityObservation() {
        destroyDatatable('manageObsPanel');
        if ($('#entitySelectField option:selected').val() != 0) {
            $.ajax({
                url: g_asiBaseURL + "/ApiCalls/get_observations_for_manage_paras",
                type: "POST",
                data: {
                    'ENTITY_ID': $('#entitySelectField option:selected').val()
                },
                cache: false,
                success: function (data) {
                    g_allObs = data;
                    $.each(data, function (i, v) {
                        $('#manageObsPanel tbody').append('<tr><td class="text-center">' + (i + 1) + '</td><td class="text-center">' + v.audiT_PERIOD + '</td><td>' + v.parA_NO + '</td><td>' + v.annex + '</td><td>' + v.obS_RISK + '</td><td>' + v.obS_GIST + '</td><td>' + v.updateD_BY + '</td><td>' + v.updateD_ON + '</td><td class="text-center"><a onclick="event.preventDefault();ObservationViewerPanel(\'' + i + '\')" href="#" class="text-hover">Update Para Details</a></td><td class="text-center"><a onclick="event.preventDefault();ObservationTextPanel(\'' + i + '\')" href="#" class="text-hover">Update Para Text</a></td><td class="text-center"><a onclick="event.preventDefault();ObservationResponsibles(\'' + i + '\')" href="#" class="text-hover">Update Responsibles</a></td><td class="text-center"><a onclick="event.preventDefault();DeleteDuplicatePara(\'' + v.neW_PARA_ID + '\',\'' + v.olD_PARA_ID + '\', \'' + v.p_TYPE_IND + '\')" href="#" class="text-hover">Delete Duplicate Para</a></td></tr>');
                    });
                    initializeDataTable('manageObsPanel');
                },
                dataType: "json",
            });
        }
    }

    function ObservationViewerPanel(index) {
        g_index=index;
        $('#viewMemoModel').modal('show');
        var v = g_allObs[index];
        g_np_id = v.neW_PARA_ID;
        g_op_id = v.olD_PARA_ID;
        g_ind = v.indicator;

        $('#auditPara_Period').val(v.audiT_PERIOD);
        $('#auditPara_ParaNO').val(v.parA_NO);
        $('#auditPara_Annex').val(v.anneX_ID);
        $('#auditPara_Gist').val(v.obS_GIST);
        $('#auditPara_Risk').val(v.obS_RISK_ID);

    }

    function ObservationTextPanel(index) {
        g_index=index;
        $('#viewMemoTextModel').modal('show');
        var v = g_allObs[index];
        g_np_id = v.neW_PARA_ID;
        g_op_id = v.olD_PARA_ID;
        g_ind = v.indicator;
        $('#paraTextViewer').val(v.parA_TEXT).trigger('change');

    }
    function updateObservationStatus() {
        if (g_ind != "N") {
            if ($('#auditPara_Period').val() == "") {
                alert("Please enter Audit Period");
                return false;
            }
        }

        if ($('#auditPara_Risk').val() == "0") {
            alert("Please select Audit Risk");
            return false;
        }
        if ($('#auditPara_Annex').val() == "") {
            alert("Please select Annexure");
            return false;
        }
        if ($('#auditPara_ParaNO').val() == "") {
            alert("Please enter Para No");
            return false;
        }
        if ($('#auditPara_Gist').val() == "") {
            alert("Please enter Para Gist");
            return false;
        }

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/update_para_for_manage_audit_paras",
            type: "POST",
            data: {
                'NEW_PARA_ID': g_np_id,
                'OLD_PARA_ID': g_op_id,
                'INDICATOR': g_ind,
                'AUDIT_PERIOD': g_ind == "N" ? "" : $('#auditPara_Period').val(),
                'OBS_GIST': $('#auditPara_Gist').val(),
                'OBS_RISK_ID': $('#auditPara_Risk').val(),
                'PARA_NO': $('#auditPara_ParaNO').val(),
                'ANNEX_ID': $('#auditPara_Annex').val()
            },
            cache: false,
            success: function (data) {
                $('#viewMemoModel').modal('hide');
                alert(data.Message);
                onAlertCallback(getEntityObservation);
            },
            dataType: "json",
        });

    }
    function DeleteDuplicatePara(np_id, op_id, ind) {
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/request_delete_duplicate_para",
            type: "POST",
            data: {
                'NEW_PARA_ID': np_id,
                'OLD_PARA_ID': op_id,
                'INDICATOR': ind
            },
            cache: false,
            success: function (data) {
                alert(data.Message);
                onAlertCallback(getEntityObservation);
            },
            dataType: "json",
        });
    }
    function ObservationResponsibles(index) {
        g_index=index;
        var v = g_allObs[index];
        g_np_id = v.neW_PARA_ID;
        g_op_id = v.olD_PARA_ID;
        g_ind = v.indicator;

        $('#ResponsibleGridModel').modal('show');
        $('#listofRespPersons tbody').empty();
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_responsible_person_list",
            type: "POST",
            data: {
                'PARA_ID': g_np_id != "" ? g_np_id:g_op_id,
                'INDICATOR': g_ind
            },
            cache: false,
            success: function (data) {
                $.each(data, function (i, v) {
                    $('#listofRespPersons tbody').append('<tr id="tr_' + v.pP_NO + '"><td>' + ++i + '</td><td>' + v.pP_NO + '</td><td>' + v.emP_NAME + '</td><td>' + v.loaN_CASE + '</td><td>' + v.lC_AMOUNT + '</td><td>' + v.accounT_NUMBER + '</td><td>' + v.acC_AMOUNT + '</td><td class="text-center"><a href="#" onclick="event.preventDefault();deleteRespRow(this);">Delete</a></td></tr>');
                });

            },
            dataType: "json",
        });

    }

    function openResponsiblePPs() {
        $('#ResponsiblePPModel').modal('show');
        $('#matchedPPNoPanels').empty();
        return false;
    }
    function getMatchedPP() {
        $('#matchedPPNoPanels').empty();
        g_respUser = [];
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_employee_name_from_pp",
            type: "POST",
            data: {
                'PP_NO': $('#responsiblePPNoEntryField').val()
            },
            cache: false,
            success: function (data) {
                g_respUser.push(data);
                if (data.ppNumber > 0) {
                    $('#matchedPPNoPanels').append('<div class="row"><div class="row col-md-12 mt-2"><div class="col-sm-4"><label>Responsible</label></div><div class="col-sm-8"><span>' + data.name + ' (' + data.ppNumber + ') </span> <input style="margin-left:10px;" id="respCheckBOX" type="checkbox" /></div></div><div class="row col-md-12 mt-2"><div class="col-md-4"><label> Loan Case </label></div><div class="col-md-8"><input id="resp_loan_case" class="form-control" type="text" /></div></div><div class="row col-md-12 mt-2"><div class="col-md-4"><label> LC Amount </label></div><div class="col-md-8"><input id="resp_loan_amount" class="form-control" type="text" /></div></div><div class="row col-md-12 mt-2"><div class="col-md-4"><label> Account Number </label></div><div class="col-md-8"><input id="resp_account_number" class="form-control" type="text" /></div></div><div class="row col-md-12 mt-2"><div class="col-md-4"><label>ACC Amount </label></div><div class="col-md-8"><input id="resp_account_amount" class="form-control" type="text" /></div><div class="row col-md-12 mt-2"><div class="col-md-4"><label>Remarks/Reason </label></div><div class="col-md-8"><input id="resp_remarks" class="form-control" type="text" /></div></div></div></div>');
                }
                else
                    $('#matchedPPNoPanels').append('<div class="row"><span>No record found..</span></div>');
            },
            dataType: "json",
        });
    }

    function addResponsibilityToMainTable() {
        if (g_respUser[0].ppNumber > 0) {
            if ($('#respCheckBOX').is(':checked')) {

                var lc = $('#resp_loan_case').val();
                var acc = $('#resp_account_number').val();
                if (lc == "" && acc == "") {
                    alert("Please enter Either Loan Case Or Account Number to Proceed"); return false;
                }
                var srNo = $('#listofRespPersons tbody tr').length;
                srNo++;
                $('#listofRespPersons tbody').append('<tr id="tr_' + g_respUser[0].ppNumber + '"><td>' + srNo + '</td><td>' + g_respUser[0].ppNumber + '</td><td>' + g_respUser[0].name + '</td><td>' + $('#resp_loan_case').val() + '</td><td>' + $('#resp_loan_amount').val() + '</td><td>' + $('#resp_account_number').val() + '</td><td>' + $('#resp_account_amount').val() + '</td><td class="text-center"><a href="#" onclick="event.preventDefault();deleteRespRow(this);">Delete</a></td></tr>');
                g_respUsersArr.push(g_respUser[0]);

                var v = g_allObs[g_index];
                g_np_id = v.neW_PARA_ID;
                g_op_id = v.olD_PARA_ID;
                g_ind = v.indicator;

                   $.ajax({
            url: g_asiBaseURL + "/ApiCalls/add_responsible_to_observation",
            type: "POST",
            data: {
                'PP_NO': g_respUser[0].ppNumber,
                'LOAN_CASE':$('#resp_loan_case').val(),
                'LC_AMOUNT':$('#resp_loan_amount').val(),
                'ACCOUNT_NUMBER':$('#resp_account_number').val(),
                'ACC_AMOUNT':$('#resp_account_amount').val(),
                'EMP_NAME':g_respUser[0].name,
                'REMARKS':$('#resp_remarks').val(),
                'NEW_PARA_ID':g_np_id,
                'OLD_PARA_ID':g_op_id,
                'INDICATOR':g_ind,


            },
            cache: false,
            success: function (data) {
                g_respUser.push(data);
                if (data.ppNumber > 0) {
                    $('#matchedPPNoPanels').append('<div class="row"><div class="row col-md-12 mt-2"><div class="col-sm-4"><label>Responsible</label></div><div class="col-sm-8"><span>' + data.name + ' (' + data.ppNumber + ') </span> <input style="margin-left:10px;" id="respCheckBOX" type="checkbox" /></div></div><div class="row col-md-12 mt-2"><div class="col-md-4"><label> Loan Case </label></div><div class="col-md-8"><input id="resp_loan_case" class="form-control" type="text" /></div></div><div class="row col-md-12 mt-2"><div class="col-md-4"><label> LC Amount </label></div><div class="col-md-8"><input id="resp_loan_amount" class="form-control" type="text" /></div></div><div class="row col-md-12 mt-2"><div class="col-md-4"><label> Account Number </label></div><div class="col-md-8"><input id="resp_account_number" class="form-control" type="text" /></div></div><div class="row col-md-12 mt-2"><div class="col-md-4"><label>ACC Amount </label></div><div class="col-md-8"><input id="resp_account_amount" class="form-control" type="text" /></div><div class="row col-md-12 mt-2"><div class="col-md-4"><label>Remarks/Reason </label></div><div class="col-md-8"><input id="resp_remarks" class="form-control" type="text" /></div></div></div></div>');
                }
                else
                    $('#matchedPPNoPanels').append('<div class="row"><span>No record found..</span></div>');
            },
            dataType: "json",
        });


            }
            else {
                alert("Please Check checkbox to proceed"); return false;
            }
        }

    }

    function deleteRespRow(e) {
        $(e).parent().parent().remove();
    }


</script>

<div class="row">
    <div class="col-md-12 mt-3">
        <h3 style=" display:block;color: #45c545;">Update Audit Paras</h3>
    </div>
    <div class="row col-md-12 mt-3">
        <div class="col-md-2">
            <label><b>Entity:</b></label>
        </div>
        <div class="col-md-10">
            <input id="entityNameField" disabled="disabled" class="form-control ml-1 d-none" type="text" />
            <select id="entitySelectField" onchange="getEntityObservation()" class="form-control form-select">
                <option value="0" id="0">--Select Audit Entity--</option>
                @{
                    if (ViewData["EntitiesList"] != null)
                        {
                        foreach (var item in (dynamic)(ViewData["EntitiesList"]))
                            {
                                                                                    <option value="@item.ENTITY_ID" id="@item.ENTITY_ID">@item.NAME</option>
                            }
                        }
                }

            </select>
        </div>
    </div>

    <div class="row col-md-12 mt-3">
        <table id="manageObsPanel" class="table table-hover table-bordered table-hover mt-3 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th class="col-md-auto">Sr. No.</th>
                    <th class="col-md-auto">Audit Period</th>
                    <th class="col-md-auto">Para No.</th>
                    <th class="col-md-auto">Annexure</th>
                    <th class="col-md-auto">Risk Category</th>
                    <th class="col-md-auto">Gist of Para</th>
                    <th class="col-md-auto">Last Updated By</th>
                    <th class="col-md-auto">Last Updated Date</th>
                    <th class="col-md-auto text-center">Action</th>
                    <th class="col-md-auto text-center">Action</th>
                    <th class="col-md-auto text-center">Action</th>
                    <th class="col-md-auto text-center">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
    </div>

</div>
<div id="viewMemoModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Update Audit Para</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="auditPara_Period" class="font-weight-bold">Audit Period (YYYY)</label>

                        <select id="auditPara_Period" class="form-control">
                            <option value="">--Select Audit Period--</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="auditPara_ParaNO" class="font-weight-bold">Para No</label>
                        <input id="auditPara_ParaNO" class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label for="auditPara_Annex" class="font-weight-bold">Annexure</label>
                        <select id="auditPara_Annex" class="form-select form-control">
                            <option selected="selected" value="" id="">--Select Annexure--</option>
                            @{
                                if (ViewData["AnnexList"] != null)
                                    {

                                    foreach (var item in (dynamic)(ViewData["AnnexList"]))
                                        {
                                                                    <option id="@item.ID" value="@item.ID">@item.ANNEX</option>
                                        }

                                    }
                            }

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="auditPara_Risk" class="font-weight-bold">Risk</label>
                        <select id="auditPara_Risk" class="form-control">
                            <option value="0" id="0" selected>--Select Risk Category--</option>
                            @{
                                if (ViewData["RiskList"] != null)
                                    {

                                    foreach (var risk in (dynamic)(ViewData["RiskList"]))
                                        {
                                                                    <option id="@risk.R_ID" value="@risk.R_ID">@risk.DESCRIPTION</option>
                                        }

                                    }
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="auditPara_Gist" class="font-weight-bold">Gist of Para</label>
                        <textarea id="auditPara_Gist" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="auditPara_AmountInv" class="font-weight-bold">Amount Involved</label>
                        <input id="auditPara_AmountInv" class="form-control" type="number" />
                    </div>
                    <div class="form-group">
                        <label for="auditPara_ResponisbleNO" class="font-weight-bold">No. of Responsibles </label>
                        <input id="auditPara_ResponisbleNO" class="form-control" type="number" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="updateParaStatus" onclick="updateObservationStatus();" type="button" data-dismiss="modal" class="btn btn-danger">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="viewMemoTextModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Update Audit Para</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <textarea class="form-control" id="paraTextViewer"></textarea>


                </form>
            </div>
            <div class="modal-footer">
                <button id="updateParaStatus" onclick="updateObservationStatus();" type="button" data-dismiss="modal" class="btn btn-danger">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<div id="ResponsibleGridModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title">Responsible Person</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <label for="viewMemo_loancase">Responsible PP NO.</label>
                        <div class="row col-sm-12">
                            <table id="listofRespPersons" class="table table-hover table-bordered table-hover mt-3 table-striped">
                                <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                                    <tr>
                                        <th class="col-md- auto font-weight-bold">Sr.No</th>
                                        <th class="col-md- auto font-weight-bold">P.P. No</th>
                                        <th class="col-md- auto font-weight-bold">Name</th>
                                        <th class="col-md- auto font-weight-bold">Loan Case</th>
                                        <th class="col-md- auto font-weight-bold">LC Amount</th>
                                        <th class="col-md- auto font-weight-bold">Account No.</th>
                                        <th class="col-md- auto font-weight-bold">ACC Amount</th>
                                        <th class="col-md- auto text-center font-weight-bold"><center><button type="button" onclick="openResponsiblePPs();" class="rounded-circle btn btn-danger btn-sm"><i class="fa fa-plus text-white"></i></button></center></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button onclick="addResponsibilityToMainTable();" type="button" class="btn btn-danger">Add Responsibility</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="ResponsiblePPModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title">Responsible Person</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <label for="viewMemo_memo">P.P No.</label>
                        <div class="row col-sm-12">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="responsiblePPNoEntryField" />
                            </div>
                            <div class="col-sm-2 w-100">
                                <button onclick="getMatchedPP();" type="button" class="btn btn-danger">Find</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="matchedPPNoPanels" style="padding:20px;">
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button onclick="addResponsibilityToMainTable();" type="button" class="btn btn-danger">Add Responsibility</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
