@{
    ViewData["Title"] = "Manage Checklist Detail";
    Layout = "_Layout";
}
<style type="text/css">
    .container {
        max-width: 100%;
    }

    .card-header {
        background-color: transparent !important;
        font-size: 20px;
        height: 100px;
    }

    .icon-card {
        margin: 10px;
    }
</style>
<script type="text/javascript">
    var g_procId = 0;
    var g_subProcId = 0;
    var g_procDetailId = 0;
    var g_procDetailList=[];
    $(document).ready(function () {
        $("#searchTableRecord").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#listOfDepartment tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
    
    function openUpdateSubCheclist(id, sId) {
        g_procDetailId = id;
        g_subProcId = sId;
        $('#updateEntityModal').modal('show');
        $.each(g_procDetailList, function (i, v) {
            if (v.s_ID == g_procDetailId) 
            {
                $('#updatedChecklist').val($('#checklistSelectField').val());
                getSubChecklistOfProcess();           
                $('#updatedProcDetailHeading').val(v.heading);
                $('#updatedViolationlist').val(v.v_ID);
                $('#updatedProcOwnerlist').val(v.procesS_OWNER_ID);
                $('#updatedRoleResplist').val(v.rolE_RESP_ID);
                $('#updatedRisklist').val(v.risK_ID);
                $('#updatedAnnexlist').val(v.anneX_ID);

                if ($('#updatedChecklist').val()!= 0)
                $('#oldProcessLabel').val($('#updatedChecklist option:selected').text());
                else
                    $('#oldProcessLabel').val('');

                if ($('#updatedViolationlist').val() != 0)
                    $('#oldViolationLabel').val($('#updatedViolationlist option:selected').text());
                    else 
                    $('#oldViolationLabel').val('');

                if ($('#updatedProcOwnerlist').val() != 0)
                   $('#oldProcessOwnerLabel').val($('#updatedProcOwnerlist option:selected').text());
                   else
                    $('#oldProcessOwnerLabel').val('');



                if ($('#updatedRoleResplist').val() != 0)
                    $('#oldRoleRespLabel').val($('#updatedRoleResplist option:selected').text());
                    else 
                    $('#oldRoleRespLabel').val('');


                if ($('#updatedRisklist').val() != 0)
                    $('#oldRiskLabel').val($('#updatedRisklist option:selected').text());
                    else 
                    $('#oldRiskLabel').val("");

                if ($('#updatedAnnexlist').val() != 0)
                    $('#oldAnnexureLabel').val($('#updatedAnnexlist option:selected').text());
                    else 
                    $('#oldAnnexureLabel').val("");
                
                    $('#oldProcessDetailLabel').val(v.heading);
            }
        });
        
    }
    function updateSubProcess() {

        if ($('#updatedChecklist').val()==0){
            alert("please select Process to proceed");
            return;
        }
        if ($('#updatedSubChecklist').val() == 0) {
            alert("please select Sub Process to Proceed");
            return;
        }
        if ($('#updatedProcDetailHeading').val() == "") {
            alert("please provide Process Detail Heading to Proceed");
            return;
        }

        if ($('#updatedViolationlist').val() == 0) {
            alert("please select Vilation to Proceed");
            return;
        }

        if ($('#updatedProcOwnerlist').val() == 0) {
            alert("please select Process Owner to Proceed");
            return;
        }


        if ($('#updatedRoleResplist').val() == 0) {
            alert("please select Role Responsible to Proceed");
            return;
        }


        if ($('#updatedRisklist').val() == 0) {
            alert("please select Risk to Proceed");
            return;
        }


        if ($('#updatedAnnexlist').val() == 0) {
            alert("please select Annexure to Proceed");
            return;
        }


        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/update_audit_checklist_detail",
            type: "POST",
            data: {
                'PROCESS_ID': $('#updatedChecklist').val(),
                'SUB_PROCESS_ID': $('#updatedSubChecklist').val(),
                'PROCESS_DETAIL_ID': g_procDetailId,
                'HEADING': $('#updatedProcDetailHeading').val(),
                'V_ID': $('#updatedViolationlist').val(),
                'CONTROL_ID': $('#updatedProcOwnerlist').val(),
                'ROLE_ID': $('#updatedRoleResplist').val(),
                'RISK_ID': $('#updatedRisklist').val(),
                'ANNEX_CODE': $('#updatedAnnexlist').val()
            },
            cache: false,
            success: function (data) {
               alert(data.Message);
                ShowSubChecklist();
            },
            dataType: "json",
        });
      

    }
    function getAuditSubChecklist() {
        var processId = $('#checklistSelectField').val();
        if (processId != 0) {
            $('#subchecklistSelectField').empty();
            $.ajax({
                url: g_asiBaseURL + "/ApiCalls/get_audit_sub_checklist",
                type: "POST",
                data: {
                    'PROCESS_ID': processId
                },
                cache: false,
                success: function (data) {
                    var sr = 0;
                    $('#subchecklistSelectField').append('<option value="0">--Select Audit Sub-Checklist--</option>');
                    $.each(data, function (i, v) {
                        sr++;
                        $('#subchecklistSelectField').append('<option value="' + v.s_ID + '">'+v.heading+'</option>');

                    });
                },
                dataType: "json",
            });
        } else {
            g_entList = [];
            $('#subchecklistSelectField').empty();
            $('#subchecklistSelectField').append('<option value="0">--Select Audit Sub-Checklist--</option>');
        }

    }
    function getAuditSubChecklistForModal() {
        var processId = $('#newChecklist').val();
        if (processId != 0) {
            $('#newSubChecklist').empty();
            $.ajax({
                url: g_asiBaseURL + "/ApiCalls/get_audit_sub_checklist",
                type: "POST",
                data: {
                    'PROCESS_ID': processId
                },
                cache: false,
                success: function (data) {
                    $('#newSubChecklist').append('<option value="0">--Select Audit Sub-Checklist--</option>');
                    $.each(data, function (i, v) {
                        var className="";
                        if (v.s_ID == g_subProcId)
                            className = "selected=\"selected\"";

                        $('#newSubChecklist').append('<option ' + className + ' value="' + v.s_ID + '">' + v.heading + '</option>');

                    });
                },
                dataType: "json",
            });
        } else {
            g_entList = [];
            $('#newSubChecklist').empty();
            $('#newSubChecklist').append('<option value="0">--Select Audit Sub-Checklist--</option>');
        }

    }
    function ShowSubChecklist() {
        var processId = $('#checklistSelectField').val();
        var subProcessId = $('#subchecklistSelectField').val();
        $('#auditeeEntitiesList tbody').empty();
        if (processId != 0 && subProcessId !=0) {
            $.ajax({
                url: g_asiBaseURL + "/ApiCalls/get_audit_checklist_detail",
                type: "POST",
                data: {
                    'SUB_PROCESS_ID': subProcessId
                },
                cache: false,
                success: function (data) {
                    g_procDetailList = data;
                    var sr = 0;
                    $.each(data, function (i, v) {
                        sr++;
                        $('#auditeeEntitiesList tbody').append('<tr id="tr_' + v.s_ID + '"><td>' + sr + '</td><td>' + v.heading + '</td><td style="cursor:pointer;"><a class="text-danger" onclick="event.preventDefault();openUpdateSubCheclist(' + v.s_ID + ', ' + v.id + ')">Update</a></td></tr>');

                    });
                },
                dataType: "json",
            });
        } else {
            g_entList = [];
            $('#auditeeEntitiesList tbody').empty();
        }

    }
    function getSubChecklistForNewEntry() {
        var processId = $('#newChecklist').val();
        if (processId != 0) {
             $('#newSubChecklist').empty();
            $.ajax({
                url: g_asiBaseURL + "/ApiCalls/get_audit_sub_checklist",
                type: "POST",
                data: {
                    'PROCESS_ID': processId
                },
                cache: false,
                success: function (data) {
                    $('#newSubChecklist').append('<option value="0">--Select Sub-Checklist--</option>');
                    $.each(data, function (i, v) {
                        $('#newSubChecklist').append('<option value="' + v.s_ID + '">' + v.heading + '</option>');
                    });
                },
                dataType: "json",
            });
        } 

    }
    function getSubChecklistOfProcess() {
        $('#updatedSubChecklist').empty();
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_audit_sub_checklist",
            type: "POST",
            data: {
                'PROCESS_ID': $('#checklistSelectField').val()
            },
            cache: false,
            success: function (data) {
                $('#updatedSubChecklist').append('<option value="0">--Select Sub-Checklist--</option>');
                $.each(data, function (i, v) {
                    $('#updatedSubChecklist').append('<option value="' + v.s_ID + '">' + v.heading + '</option>');
                });
                $('#updatedSubChecklist').val(g_subProcId);
                $('#oldSubProcessLabel').val($('#updatedSubChecklist option:selected').text());

            },
            dataType: "json",
        });

    }
    function addNewCheckListDetail(){
        g_subProcId = 0;
        g_procDetailId = 0;
        $('#addEntityModal').modal('show');
        $('#newChecklist').val(0);
        $('#newSubChecklist').val(0);
        $('#newViolationlist').val(0);
        $('#newProcOwnerlist').val(0);
        $('#newRoleResplist').val(0);
        $('#newAnnexlist').val(0);
        $('#newRisklist').val(0);
        $('#newProcDetailHeading').val('');
     
    }
    function addProcessDetail(){

        if ($('#newChecklist').val() == 0) {
            alert("please select Process to proceed");
            return;
        }
        if ($('#newSubChecklist').val() == 0) {
            alert("please select Sub Process to Proceed");
            return;
        }
        if ($('#newProcDetailHeading').val() == "") {
            alert("please provide Process Detail Heading to Proceed");
            return;
        }

        if ($('#newViolationlist').val() == 0) {
            alert("please select Vilation to Proceed");
            return;
        }

        if ($('#newProcOwnerlist').val() == 0) {
            alert("please select Process Owner to Proceed");
            return;
        }


        if ($('#newRoleResplist').val() == 0) {
            alert("please select Role Responsible to Proceed");
            return;
        }


        if ($('#newRisklist').val() == 0) {
            alert("please select Risk to Proceed");
            return;
        }


        if ($('#newAnnexlist').val() == 0) {
            alert("please select Annexure to Proceed");
            return;
        }


        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/add_audit_checklist_detail",
            type: "POST",
            data: {
                'PROCESS_ID': $('#newChecklist').val(),
                'SUB_PROCESS_ID': $('#newSubChecklist').val(),
                'HEADING': $('#newProcDetailHeading').val(),
                'V_ID': $('#newViolationlist').val(),
                'CONTROL_ID': $('#newProcOwnerlist').val(),
                'ROLE_ID': $('#newRoleResplist').val(),
                'RISK_ID': $('#newRisklist').val(),
                'ANNEX_CODE': $('#newAnnexlist').val(),
            },
            cache: false,
            success: function (data) {
                alert(data.Message);
                ShowSubChecklist();
              
            },
            dataType: "json",
        });
    }
</script>
<div class="row text-center mt-3">
    <div class="col-md-6 text-left">
        <h3 style=" display:block;color: #45c545;">Audit Checklist Detail </h3>
    </div>
    <div class="col-md-6 text-right" style="padding-right:45px;">
        <button onclick="addNewCheckListDetail(0);" class="btn btn-danger">Add New Checklist</button>
    </div>    
</div>
<div class="row mt-3 col-md-12">
    <label><b>Audit Checklist</b></label>
    <select id="checklistSelectField" onchange="getAuditSubChecklist();" class="form-select form-control">
        <option value="0" id="0" selected>--Select Checklist Type--</option>
        @{
            if (ViewData["ChecklistTypes"] != null)
            {
                foreach (var item in (dynamic)(ViewData["ChecklistTypes"]))
                {
                    <option value="@item.T_ID" id="@item.T_ID">@item.HEADING</option>

                }
            }
        }

    </select>
</div>
<div class="row mt-3 col-md-12">
    <label><b>Audit Sub Checklist</b></label>
    <select id="subchecklistSelectField" onchange="ShowSubChecklist();" class="form-select form-control">
        <option value="0">--Select Sub-Checklist--</option>
       

    </select>
</div>
<div class="row col-md-12 mt-3">
    <table id="auditeeEntitiesList" class="table table-bordered table mb-0 mt-3 bg-white table-hover table-striped">
        <thead>
            <tr style="background-color: rgb(181 229 117 / 93%) !important; ">
                <th class="col-md-auto">Sr No.</th>
                <th class="col-md-auto">Checklist Detail</th>
                <th class="col-md-auto">Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


<div id="addEntityModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Add Checklist Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row col-md-12">
                    <div class="row col-md-12 mt-3">
                        <div class="row col-md-4">
                            <label>Checklist</label>
                        </div>
                        <div class="row col-md-8">
                            <select onclick="getSubChecklistForNewEntry();" id="newChecklist" class="form-select form-control">
                                <option value="0" id="0" selected>--Select Checklist--</option>
                                @{
                                    if (ViewData["ChecklistTypes"] != null)
                                    {
                                        foreach (var item in (dynamic)(ViewData["ChecklistTypes"]))
                                        {
                                            <option value="@item.T_ID" id="@item.T_ID">@item.HEADING</option>

                                        }
                                    }
                                }

                            </select>
                        </div>
                    </div>
                    <div class="row col-md-12 mt-3">
                        <div class="row col-md-4">
                            <label>Sub-Checklist</label>
                        </div>
                        <div class="row col-md-8">
                            <select id="newSubChecklist" class="form-select form-control">
                                <option value="0" id="0" selected>--Select Sub-Checklist--</option>

                            </select>
                        </div>
                    </div>
                    <div class="row col-md-12 mt-3">
                        <div class="row col-md-4">
                            <label>Violation</label>
                        </div>
                        <div class="row col-md-8">
                            <select id="newViolationlist" class="form-select form-control">
                                <option selected="selected" value="0" id="0">--Select Control Violation--</option>
                                @{
                                    if (ViewData["ViolationsList"] != null)
                                    {

                                        foreach (var item in (dynamic)(ViewData["ViolationsList"]))
                                        {
                                            <option max-number="@item.MAX_NUMBER" id="@item.ID" value="@item.ID">@item.V_NAME</option>
                                        }

                                    }
                                }

                            </select>
                        </div>
                    </div>
                    <div class="row col-md-12 mt-3">
                        <div class="row col-md-4">
                            <label>Process Owner</label>
                        </div>
                        <div class="row col-md-8">
                            <select id="newProcOwnerlist" class="form-select form-control">
                                <option selected="selected" value="0" id="0">--Select Process Owner--</option>
                                @{
                                    if (ViewData["ProcOwnerList"] != null)
                                    {

                                        foreach (var item in (dynamic)(ViewData["ProcOwnerList"]))
                                        {
                                            <option id="@item.ENTITY_ID" value="@item.ENTITY_ID">@item.NAME</option>
                                        }

                                    }
                                }

                            </select>
                        </div>
                    </div>
                    <div class="row col-md-12 mt-3">
                        <div class="row col-md-4">
                            <label>Role Responsible</label>
                        </div>
                        <div class="row col-md-8">
                            <select id="newRoleResplist" class="form-select form-control">
                                <option selected="selected" value="0" id="0">--Select Role Responsible--</option>
                                @{
                                    if (ViewData["RoleRespList"] != null)
                                    {

                                        foreach (var item in (dynamic)(ViewData["RoleRespList"]))
                                        {
                                            <option id="@item.DESIGNATIONCODE" value="@item.DESIGNATIONCODE">@item.DESCRIPTION</option>
                                        }

                                    }
                                }

                            </select>
                        </div>
                    </div>
                    <div class="row col-md-12 mt-3">
                        <div class="row col-md-4">
                            <label>Risk</label>
                        </div>
                        <div class="row col-md-8">
                            <select id="newRisklist" class="form-select form-control">
                                <option selected="selected" value="0" id="0">--Select Risk--</option>
                                @{
                                    if (ViewData["RiskList"] != null)
                                    {

                                        foreach (var item in (dynamic)(ViewData["RiskList"]))
                                        {
                                            <option id="@item.R_ID" value="@item.R_ID">@item.DESCRIPTION</option>
                                        }

                                    }
                                }

                            </select>
                        </div>
                    </div>
                    <div class="row col-md-12 mt-3">
                        <div class="row col-md-4">
                            <label>Annexure</label>
                        </div>
                        <div class="row col-md-8">
                            <select id="newAnnexlist" class="form-select form-control">
                                <option selected="selected" value="0" id="0">--Select Annexure--</option>
                                @{
                                    if (ViewData["AnnexList"] != null)
                                    {

                                        foreach (var item in (dynamic)(ViewData["AnnexList"]))
                                        {
                                            <option id="@item.ID" value="@item.ID">@item.ANNEX</option>
                                        }

                                    }
                                }

                            </select>
                        </div>
                    </div>
                    <div class="row col-md-12 mt-3">
                        <div class="row col-md-4">
                            <label>Heading</label>
                        </div>
                        <div class="row col-md-8">
                            <textarea id="newProcDetailHeading" class="form-control"></textarea>
                        </div>
                    </div>
                  
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="addProcessDetail();" type="button" data-dismiss="modal" class="btn btn-success">Save Changes</button>

            </div>
        </div>
    </div>
</div>

<div id="updateEntityModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Update Checklist Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <form>
                            <h6 class="text-center"><b>Existing Details</b></h6>
                            <div class="form-group">
                                    <label>Process</label>
                                    <input disabled="disabled" class="form-control" style="font-weight:normal !important" id="oldProcessLabel" />
                            </div>
                            <div class="form-group">
                                    <label>Sub Process</label>
                                <input disabled="disabled" class="form-control" style="font-weight:normal !important" id="oldSubProcessLabel" />
                            </div>
                            <div class="form-group">
                                <label>Process Detail</label>
                                <textarea disabled="disabled" class="form-control" style="font-weight:normal !important" id="oldProcessDetailLabel"></textarea>
                            </div>
                            <div class="form-group">
                                  <label>Violation</label>
                                <input disabled="disabled" class="form-control" style="font-weight:normal !important" id="oldViolationLabel" />
                                
                            </div>
                            <div class="form-group">
                                 <label>Process Owner</label>
                                <input disabled="disabled" class="form-control" style="font-weight:normal !important" id="oldProcessOwnerLabel" />
                                    
                            </div>
                            <div class="form-group">
                                <label>Role Responsible</label>

                                <input disabled="disabled" class="form-control" style="font-weight:normal !important" id="oldRoleRespLabel" />
                                   
                            </div>
                            <div class="form-group">
                                 <label>Risk</label>
                                <input disabled="disabled" class="form-control" style="font-weight:normal !important" id="oldRiskLabel" />
                                
                            </div>
                            <div class="form-group">
                                <label>Annexure</label>
                                <input disabled="disabled" class="form-control" style="font-weight:normal !important" id="oldAnnexureLabel" />

                            </div>                           
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form>
                            <h6 class="text-center"><b>Proposed Changes</b></h6>
                            <div class="form-group">
                              
                                    <label>Process</label>
                               
                                    <select disabled="disabled" id="updatedChecklist" class="form-select form-control">
                                        <option value="0" id="0" selected>--Select Checklist--</option>
                                        @{
                                            if (ViewData["ChecklistTypes"] != null)
                                            {
                                                foreach (var item in (dynamic)(ViewData["ChecklistTypes"]))
                                                {
                                                    <option value="@item.T_ID" id="@item.T_ID">@item.HEADING</option>

                                                }
                                            }
                                        }

                                    </select>
                              
                            </div>
                            <div class="form-group">
                               
                                    <label>Sub Process</label>
                               
                                    <select id="updatedSubChecklist" class="form-select form-control">
                                        <option value="0" id="0" selected>--Select Sub-Checklist--</option>

                                    </select>
                                
                            </div>
                            <div class="form-group">

                                <label>Process Detail</label>

                                <textarea id="updatedProcDetailHeading" class="form-control"></textarea>

                            </div>
                            <div class="form-group">
                              
                                    <label>Violation</label>
                              
                                    <select id="updatedViolationlist" class="form-select form-control">
                                        <option selected="selected" value="0" id="0">--Select Control Violation--</option>
                                        @{
                                            if (ViewData["ViolationsList"] != null)
                                            {

                                                foreach (var item in (dynamic)(ViewData["ViolationsList"]))
                                                {
                                                    <option max-number="@item.MAX_NUMBER" id="@item.ID" value="@item.ID">@item.V_NAME</option>
                                                }

                                            }
                                        }

                                    </select>
                               
                            </div>
                            <div class="form-group">
                              
                                    <label>Process Owner</label>
                              
                                    <select id="updatedProcOwnerlist" class="form-select form-control">
                                        <option selected="selected" value="0" id="0">--Select Control Violation--</option>
                                        @{
                                            if (ViewData["ProcOwnerList"] != null)
                                            {

                                                foreach (var item in (dynamic)(ViewData["ProcOwnerList"]))
                                                {
                                                    <option id="@item.ENTITY_ID" value="@item.ENTITY_ID">@item.NAME</option>
                                                }

                                            }
                                        }

                                    </select>
                              
                            </div>
                            <div class="form-group">
                               
                                    <label>Role Responsible</label>
                              
                                    <select id="updatedRoleResplist" class="form-select form-control">
                                        <option selected="selected" value="0" id="0">--Select Control Violation--</option>
                                        @{
                                            if (ViewData["RoleRespList"] != null)
                                            {

                                                foreach (var item in (dynamic)(ViewData["RoleRespList"]))
                                                {
                                                    <option id="@item.DESIGNATIONCODE" value="@item.DESIGNATIONCODE">@item.DESCRIPTION</option>
                                                }

                                            }
                                        }

                                    </select>
                             
                            </div>
                            <div class="form-group">
                              
                                    <label>Risk</label>
                              
                                    <select id="updatedRisklist" class="form-select form-control">
                                        <option selected="selected" value="0" id="0">--Select Control Violation--</option>
                                        @{
                                            if (ViewData["RiskList"] != null)
                                            {

                                                foreach (var item in (dynamic)(ViewData["RiskList"]))
                                                {
                                                    <option id="@item.R_ID" value="@item.R_ID">@item.DESCRIPTION</option>
                                                }

                                            }
                                        }

                                    </select>
                              
                            </div>
                            <div class="form-group">
                              
                                    <label>Annexure</label>
                                
                                    <select id="updatedAnnexlist" class="form-select form-control">
                                        <option selected="selected" value="0" id="0">--Select Annexure--</option>
                                        @{
                                            if (ViewData["AnnexList"] != null)
                                            {

                                                foreach (var item in (dynamic)(ViewData["AnnexList"]))
                                                {
                                                    <option id="@item.ID" value="@item.ID">@item.ANNEX</option>
                                                }

                                            }
                                        }

                                    </select>
                               
                            </div>
                           
                        </form>
                      
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="updateSubProcess();" type="button" data-dismiss="modal" class="btn btn-success">Submit Changes</button>

            </div>
        </div>
    </div>
</div>