@{
    ViewData["Title"] = "Authorize Checklist Detail";
    Layout = "_Layout";
}
<style type="text/css">

    .listItems:hover {
        color: blue;
        text-decoration: underline;
    }

    .action:hover {
        font-size: 110%;
        cursor: pointer;
        font-weight: 600;
    }
</style>

<script type="text/javascript">
    var g_trId = 0;
    $(document).ready(function () {
        $("#searchTableRecord").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#listOfProcTransactions tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
    function reloadLocation() {
        window.location = window.location.pathname;
    }

    function recommendReferProcTransaction(id) {
        g_trId = id;
        $('#recommendReferProcTransactionModal').modal('show');
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_checklist_detail_comparison_by_Id",
            type: "POST",
            data: {
                'CHECKLIST_DETAIL_ID': id
            },
            cache: false,
            success: function (data) {
                var tr = data[0];
                $('#viewerMainProcNameModalField').val(tr.process);
                $('#viewerNameModalField').val(tr.neW_SUB_PROCESS);
                $('#viewerDescModalField').val(tr.neW_PROCESS_DETAIL);
                $('#viewerViolationNameModalField').val(tr.neW_VIOLATION);
                $('#viewerControlModalField').val(tr.neW_FUNCTIONAL_RESP);
                $('#viewerDivModalField').val(tr.neW_ROLE_RESP);
                $('#viewerRiskModalField').val(tr.neW_RISK);
                $('#viewerAnnexModalField').val(tr.neW_ANNEXURE);

                $('#oldProcessLabel').val(tr.process);
                $('#oldViolationLabel').val(tr.violation);
                $('#oldProcessOwnerLabel').val(tr.functionaL_RESP);
                $('#oldRoleRespLabel').val(tr.rolE_RESP);
                $('#oldRiskLabel').val(tr.risk);
                $('#oldAnnexureLabel').val(tr.annexure);
                $('#oldProcessDetailLabel').val(tr.procesS_DETAIL);
                $('#oldSubProcessLabel').val(tr.suB_PROCESS);

            },
            dataType: "json",
        });
    }
    function recommendProcTransaction() {
        $('#commentsBox').modal('show');
        $('#finalCommentsButtonSave').attr('onclick', 'finalRecommendProcessTransaction()');

    }
    function refferedBackProcTransaction() {
        $('#commentsBox').modal('show');
        $('#finalCommentsButtonSave').attr('onclick', 'finalRefferedBackProcessTransaction()');

    }
    function finalRecommendProcessTransaction() {

        $.ajax({
            url: g_asiBaseURL + "/Setup/authorize_process_transaction_by_authorizer",
            type: "POST",
            data: {
                'T_ID': g_trId,
                'COMMENTS': $('#commentAreaInCommentsBox').val()
            },
            cache: false,
            success: function (data) {
                $('#recommendReferProcTransactionModal').modal('hide'); 
                $('#commentsBox').modal('hide');
                alert(data.Message);
                onAlertCallback(reloadLocation);
            },
            dataType: "json",
        });
    }
    
    function finalRefferedBackProcessTransaction() {
        $.ajax({
            url: g_asiBaseURL + "/Setup/reffered_back_process_transaction_by_authorizer",
            type: "POST",
            data: {
                'T_ID': g_trId,
                'COMMENTS': $('#commentAreaInCommentsBox').val()
            },
            cache: false,
            success: function (data) {
                $('#recommendReferProcTransactionModal').modal('hide');
                $('#commentsBox').modal('hide');
                alert(data.Message);
                onAlertCallback(reloadLocation);
            },
            dataType: "json",
        });
    }
</script>

<div class="col-md-12" style="margin-top:20px;">
    <h3 style=" display:block;color: #45c545;">List of Checklist Details to Authorize </h3>
    <div class="row">
        <div class="col-md-12">
            <input class="form-control" id="searchTableRecord" type="text" placeholder="Search..">
        </div>
    </div>
    <br>
    <table id="listOfProcTransactions" class="table table-hover table-bordered table-hover mt-3 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
            <tr>
                <th width="100">Process</th>
                <th width="100">Sub Process</th>
                <th width="100">Checklist Detail</th>              
                <th width="100">Status</th>
                <th width="100">Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (ViewData["TransactionsList"] != null)
                {
                    foreach (var item in (dynamic)(ViewData["TransactionsList"]))
                    {

                        <tr id="div_@item.ID">
                            <td>
                                <p class="fw-normal mb-1">@item.PROCESS_NAME</p>
                            </td>
                            <td>
                                <p class="fw-normal mb-1">@item.SUB_PROCESS_NAME</p>
                            </td>
                            <td>
                                <p class="fw-normal mb-1">@item.DESCRIPTION</p>
                            </td>   
                          
                            <td>
                                <p class="fw-normal mb-1">@item.PROCESS_STATUS</p>
                            </td>
                            <td>
                                <button type="button" class="btn text-danger btn-sm btn-rounded" onclick="recommendReferProcTransaction('@item.ID');">
                                    Details
                                </button>
                            </td>
                        </tr>
                    }
                }}
        </tbody>
    </table>
</div>


<div id="recommendReferProcTransactionModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Transaction Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <form>
                            <h6 class="text-center"><b>Existing Details</b></h6>
                            <div class="form-group">
                                <label>Process</label>
                                <input disabled="disabled" class="form-control" style="font-weight:normal !important" id="oldProcessLabel" />
                            </div>
                            <div class="form-group">
                                <label>Sub Process</label>
                                <input disabled="disabled" class="form-control" style="font-weight:normal !important" id="oldSubProcessLabel" />
                            </div>
                            <div class="form-group">
                                <label>Process Detail</label>
                                <textarea disabled="disabled" class="form-control" style="font-weight:normal !important" id="oldProcessDetailLabel"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Violation</label>
                                <input disabled="disabled" class="form-control" style="font-weight:normal !important" id="oldViolationLabel" />

                            </div>
                            <div class="form-group">
                                <label>Process Owner</label>
                                <input disabled="disabled" class="form-control" style="font-weight:normal !important" id="oldProcessOwnerLabel" />

                            </div>
                            <div class="form-group">
                                <label>Role Responsible</label>

                                <input disabled="disabled" class="form-control" style="font-weight:normal !important" id="oldRoleRespLabel" />

                            </div>
                            <div class="form-group">
                                <label>Risk</label>
                                <input disabled="disabled" class="form-control" style="font-weight:normal !important" id="oldRiskLabel" />

                            </div>
                            <div class="form-group">
                                <label>Annexure</label>
                                <input disabled="disabled" class="form-control" style="font-weight:normal !important" id="oldAnnexureLabel" />

                            </div>

                        </form>
                    </div>
                    <div class="col-md-6">
                        <form>
                            <h6 class="text-center"><b>Proposed Changes</b></h6>
                            <div class="form-group">
                                <label for="viewerMainProcNameModalField">Process</label>
                                <input type="text" disabled class="form-control" id="viewerMainProcNameModalField" />

                            </div>
                            <div class="form-group">
                                <label for="viewerNameModalField">Sub Process</label>
                                <input type="text" disabled class="form-control" id="viewerNameModalField" />

                            </div>
                            <div class="form-group">
                                <label for="viewerDescModalField">Process Detail</label>
                                <textarea class="form-control" disabled id="viewerDescModalField"></textarea>

                            </div>
                            <div class="form-group">
                                <label for="viewerViolationNameModalField">Violation</label>
                                <input class="form-control" disabled id="viewerViolationNameModalField" />

                            </div>
                            <div class="form-group">
                                <label for="viewerControlModalField">Process Owner</label>
                                <input type="text" disabled class="form-control" id="viewerControlModalField" />
                            </div>
                            <div class="form-group">
                                <label for="viewerDivModalField">Role Responsible</label>
                                <input type="text" disabled class="form-control" id="viewerDivModalField" />
                            </div>
                            <div class="form-group">
                                <label for="viewerRiskModalField">Risk</label>
                                <input type="text" disabled class="form-control" id="viewerRiskModalField" />
                            </div>
                            <div class="form-group">
                                <label for="viewerRiskModalField">Annexure</label>
                                <input type="text" disabled class="form-control" id="viewerAnnexModalField" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="refferedBackProcTransaction();" type="button" class="btn btn-danger">Refer Back</button>
                <button onclick="recommendProcTransaction();" type="button" class="btn btn-success">Authorize</button>

            </div>
        </div>
    </div>
</div>
<div id="commentsBox" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="commentAreaInCommentsBox">Comments</label>
                        <textarea class="form-control" rows="4" id="commentAreaInCommentsBox" placeholder="Enter Comments here.."></textarea>


                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="finalCommentsButtonSave" type="button" class="btn btn-danger">Submit</button>
            </div>
        </div>
    </div>
</div>

