@{
    ViewData["Title"] = "Draft Audit Report";
    Layout = "_Layout";
}


<script type="text/javascript">
    var g_obsList = [];

    function reloadLocation() {
        location.reload();
    }

    $(document).ready(function () {
        /* $.each($('.obs_text'), function (i, ele) {
             var text = $(ele).attr('data');
             $(ele).append(text);
         });
         $.each($('.obs_reply'), function (i, ele) {
             var text = $(ele).attr('data');
             $(ele).append(text);
         });
         $.ajax({
             url: "/ApiCalls/draft_report_summary",
             type: "POST",
             data: {
             },
             cache: false,
             success: function (data) {
                 g_obsList = data;
                 $('#totalObsLabel').text(data.length);
                 var highP = 0;
                 var medP = 0;
                 var lowP = 0;
                 var settled = 0;
                 var atdraft = 0;
                 $.each(data, function (i, v) {
                     if (v.obS_RISK_ID == 1)
                         highP++;
                     else if (v.obS_RISK_ID == 2)
                         medP++;
                     else if (v.obS_RISK_ID == 3)
                         lowP++;
                     if (v.obS_STATUS_ID == 4)
                         settled++;
                     else if (v.obS_STATUS_ID == 5)
                         atdraft++;
                 });

                 $('#highObsLabel').text(highP);
                 $('#mediumObsLabel').text(medP);
                 $('#lowObsLabel').text(lowP);
                 $('#resolvedObsLabel').text(settled);
                 $('#addToDraftLabel').text(atdraft);
             },
             dataType: "json",
         });
         */
    });

    function ViewObservation(id) {
        $('#viewMemoModel').modal('show');
        $.each(g_obsList, function (i, v) {
            if (v.obS_ID == id) {
                $('#viewMemo_panel').html(v.obS_TEXT);
            }
        });

    }
    function ViewObservationResponse(id) {
        $('#viewMemoResponseModel').modal('show');
        $.each(g_obsList, function (i, v) {
            if (v.obS_ID == id) {
                $('#viewMemoRes_panel').html(v.obS_REPLY);
            }
        });

    }
    function getEntityObservation() {
        $('#manageObsPanel tbody').empty();
        if ($('#entitySelectField option:selected').val() != 0) {
            $.ajax({
                url: "/ApiCalls/get_observations",
                type: "POST",
                data: {
                    'ENG_ID': $('#entitySelectField option:selected').val()
                },
                cache: false,
                success: function (data) {
                    g_obsList = data;
                    var isbranch = false;
                    $.each(data, function (i, v) {
                        if (v.violation == null && v.nature == null) {
                            isbranch = true;
                        }
                        $('#manageObsPanel tbody').append('<tr id="obs_' + v.obS_ID + '"><td class="text-center">' + v.memO_NO + '</td><td class="deptfield">' + v.violation + '</td><td class="deptfield">' + v.nature + '</td><td class="branchfield">' + v.process + '</td><td class="branchfield">' + v.suB_PROCESS + '</td><td class="branchfield">' + v.checklist_Details + '</td><td class="obs_text d-none" ></td><td class="text-center"><a onclick="ViewObservation(' + v.obS_ID + ');" href="#" class="text-primary">View Observation</a></td><td>' + v.obS_RISK + '</td><td class="obs_reply"><a onclick="ViewObservationResponse(' + v.obS_ID + ');" href="#" class="text-primary">View Response</a></td><td>' + v.obS_STATUS + '</td></tr> ');
                    });
                    if (isbranch) {
                        $('.deptfield').addClass('d-none');
                        $('.branchfield').removeClass('d-none');
                    }
                    else {
                        $('.deptfield').removeClass('d-none');
                        $('.branchfield').addClass('d-none');
                    }

                    $.ajax({
                        url: "/ApiCalls/draft_report_summary",
                        type: "POST",
                        data: {
                            'ENG_ID': $('#entitySelectField option:selected').val()
                        },
                        cache: false,
                        success: function (data) {
                            g_obsList = data;
                            $('#totalObsLabel').text(data.length);
                            var highP = 0;
                            var medP = 0;
                            var lowP = 0;
                            var settled = 0;
                            var atdraft = 0;
                            $.each(data, function (i, v) {
                                if (v.obS_RISK_ID == 1)
                                    highP++;
                                else if (v.obS_RISK_ID == 2)
                                    medP++;
                                else if (v.obS_RISK_ID == 3)
                                    lowP++;
                                if (v.obS_STATUS_ID == 4)
                                    settled++;
                                else if (v.obS_STATUS_ID == 5)
                                    atdraft++;
                            });

                            $('#highObsLabel').text(highP);
                            $('#mediumObsLabel').text(medP);
                            $('#lowObsLabel').text(lowP);
                            $('#resolvedObsLabel').text(settled);
                            $('#addToDraftLabel').text(atdraft);
                        },
                        dataType: "json",
                    });

                },
                dataType: "json",
            });

        }
    }

</script>

<div class="row">
    <div class="row col-md-12 mt-3">
        <div class="col-md-2">
            <label><b>Entity:</b></label>
        </div>
        <div class="col-md-10">
            <input id="entityNameField" disabled="disabled" class="form-control ml-1 d-none" type="text" />
            <select id="entitySelectField" onchange="getEntityObservation()" class="form-control form-select">
                <option value="0" id="0">--Select Audit Entity--</option>
                @{
                    if (ViewData["EntitiesList"] != null)
                    {
                        foreach (var item in (dynamic)(ViewData["EntitiesList"]))
                        {
                            <option value="@item.ENG_ID" id="@item.ENG_ID">@item.NAME</option>
                        }
                    }
                }

            </select>
        </div>
    </div>
    <div class="row col-md-12 mt-3">
        <h3 style=" display:block;color: #45c545;">Report Summary</h3>
        <table id="reportSummaryTable" class="table table-bordered mb-0 mt-3 bg-white table-striped">
            <thead style="background-color:aquamarine;">
                <tr>
                    <th>Total Observations</th>
                    <th>High Risk</th>
                    <th>Medium Risk</th>
                    <th>Low Risk</th>
                    <th>Resolved</th>
                    <th>Add to Draft</th>
                </tr>
            </thead>
            <tr>
                <td id="totalObsLabel" class="text-center"></td>
                <td id="highObsLabel" class="text-center"></td>
                <td id="mediumObsLabel" class="text-center"></td>
                <td id="lowObsLabel" class="text-center"></td>
                <td id="resolvedObsLabel" class="text-center"></td>
                <td id="addToDraftLabel" class="text-center"></td>
            </tr>
        </table>
    </div>

    <div class="row col-md-12 mt-3">
        <h3 style=" display:block;color: #45c545;">Audit Observations</h3>
        <table id="manageObsPanel" class="table table-bordered mb-0 mt-3 bg-white table-striped">
            <thead style="background-color:aquamarine;">
                <tr>
                    <th class="col-md-auto text-center">Memo No.</th>
                    <th class="col-md-auto text-center deptfield">Violation</th>
                    <th class="col-md-auto text-center deptfield">Nature</th>
                    <th class="col-md-auto text-center branchfield">Process</th>
                    <th class="col-md-auto text-center branchfield">Sub Process</th>
                    <th class="col-md-auto text-center branchfield">Checklist Detail</th>
                    <th class="col-md-auto text-center">Observation</th>
                    <th class="col-md-auto">Risk Category</th>
                    <th class="col-md-auto">Auditee Response</th>
                    <th class="col-md-auto">Status</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (ViewData["ObservationsList"] != null)
                    {

                        foreach (var item in (dynamic)(ViewData["ObservationsList"]))
                        {
                            <tr id="obs_@item.OBS_ID">
                                <td class="text-center">@item.MEMO_NO</td>
                                <td>@item.PROCESS</td>
                                <td>@item.VIOLATION</td>
                                <td class="obs_text d-none" data="@item.OBS_TEXT"></td>
                                <td class="text-center"><a onclick="ViewObservation(@item.OBS_ID);" href="#" class="text-primary">View Observation</a></td>
                                <td>@item.OBS_RISK</td>
                                <td class="obs_reply" data="@item.OBS_REPLY"></td>
                                <td>@item.OBS_STATUS</td>
                            </tr>
                        }
                    }
                }
            </tbody>

        </table>
    </div>

</div>



<div id="viewMemoModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Observation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="viewMemo_memo">Memo</label>
                        <div class="col-md-12" style="max-height:500px; overflow-y:auto;" id="viewMemo_panel"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div id="viewMemoResponseModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Auditee Response</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="viewMemo_memo">Reponse</label>
                        <div class="col-md-12" style="max-height:500px; overflow-y:auto;" id="viewMemoRes_panel"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




