@{
    ViewData["Title"] = "FAD_Legacy_Para_Performance";
    Layout = "_Layout";
}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#searchTableRecord").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#A_P_E_T tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    function CreatePDFfromHTML() {
        $('#wait').show

        var HTML_Width = $(".reportsec").width();
        var HTML_Height = $(".reportsec").height();
        var top_left_margin = 15;
        var PDF_Width = HTML_Width + (top_left_margin * 2);
        var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
        var canvas_image_width = HTML_Width;
        var canvas_image_height = HTML_Height;

        var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;

        html2canvas($(".reportsec")[0]).then(function (canvas) {
            var imgData = canvas.toDataURL("image/jpeg", 1.0);
            var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
            pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);
            for (var i = 1; i <= totalPDFPages; i++) {
                pdf.addPage(PDF_Width, PDF_Height);
                pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 4), canvas_image_width, canvas_image_height);
            }
            pdf.save("Report.pdf");
            $('#wait').hide()
            //  $(".WordSection1").hide();
        });
    }
</script>
<div class="col-md-12 ">

    <div class="col-md-10 reportsec mx-auto">

        <div class="row col-md-12 mt-3">
            <h3 style=" display:block;color: #45c545;">Legacy Paras till 31st Dec, 2022 (Before Implementation of AIS)</h3>
        </div>

        <!--  <div class="row col-md-12 mt-4">
              <div style=" width:155px">
                  <label for="periodStartModalField"><b>Report Period From</b><span class="text-danger">*</span></label>
              </div>
              <div class=" col-md-5 mr-1">
                  <input required type="date" class="form-control" id="periodStartModalField" aria-describedby="brcode" placeholder="Start Date">
              </div>

              <div style=" width:135px">
                  <label for="periodEndModalField"><b>Report Period To</b><span class="text-danger">*</span></label>
              </div>
              <div style=" width:545px">
                  <input required type="date" class="form-control" id="periodEndModalField" aria-describedby="brcode" placeholder="End Date">
              </div>
          </div>
        <div class="row col-md-12 mt-1">
            <button id="findButton" onclick="" class="btn btn-danger" style="margin-left:auto;">Search</button>

        </div>-->

        <div class="row col-md-12 mt-3 mb-2">

            <input class="form-control" id="searchTableRecord" type="text" placeholder="Search Results..">

        </div>

        <div class="row col-md-12 mt-3">
            <table id="zoneiwseperformance" class="table table-hover table-bordered table-hover mt-3 table-striped">
                <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                    <tr>
                        <th class="col-md-1">Sr. No.</th>
                        <th class="col-md-4">Audit Cluster</th>
                        <th class="col-md-2 text-center">Total Legacy Paras</th>
                        <th class="col-md-2 text-center">Settled Paras</th>
                        <th class="col-md-2 text-center">Un-Settled Paras</th>
                        <th class="col-md-1 text-center">Ratio</th>
                        <th class="col-md-auto text-center">R1</th>
                        <th class="col-md-auto text-center">R2</th>
                        <th class="col-md-auto text-center">R3</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (ViewData["LAGACYPARAPERFORMANCE"] != null)
                        {

                            var index = 1;
                            foreach (var item in (dynamic)(ViewData["LAGACYPARAPERFORMANCE"]))
                            {

                                        <tr>
                                            <td style="text-align:center;">@index</td>
                                            <td>@item.Audit_Zone</td>
                                            <td style="text-align:right;">@item.Total_Paras</td>
                                            <td style="text-align:right;">@item.Setteled_Para</td>
                                            <td style="text-align:right;">@item.Unsetteled_Para</td>
                                            <td style="text-align:right;">@item.Ratio</td>
                                            <td style="text-align:right;color:red;">@item.R1</td>
                                            <td style="text-align:right; color:yellow;">@item.R2</td>
                                            <td style="text-align:right; color:green;">@item.R3</td>
                                        </tr>
                                index++;
                            }
                        }
                    }
                </tbody>

            </table>
        </div>

        <div class="col-md-12  mt-4">
            <div style="display:flex; flex-direction:row-reverse">
                <button id="printPreview_btn" class="btn btn-danger" onclick="CreatePDFfromHTML();">Download Report/Print</button>
            </div>

        </div>

    </div>


</div>