@{
    ViewData["Title"] = "Main GL Head Summary";
    Layout = "_Layout";
}

<script type="text/javascript">
  
</script>

<div class="row col-md-12 mt-3">
    <h4 style="display: block; color: #45c545;">GL Head Summary</h4>
</div>

<div class="row col-md-12 mt-3">
    <div class="row col-md-12">
        <table class="col-md-12 table table-bordered mb-0 mt-3 bg-white table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th class="col-md-2">GL Head</th>
                    <th class="col-md-3">GL Description</th>
                    <th class="col-md-2">Date</th>
                    <th class="col-md-2">Credit</th>
                    <th class="col-md-2">Debit</th>
                    <th class="col-md-1">Balance</th>
                    <th class="col-md-2">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (ViewData["GlHeadDetails"] != null)
                    {


                        foreach (var item in (dynamic)(ViewData["GlHeadDetails"]))
                        {

                            String date = @item.MONTHEND.ToString();

                                <tr id="Branch_@item.BRANCHID">
                                    <td class="gl_id">
                                        <p class="fw-normal mb-1">@item.GLCODE</p>
                                    </td>
                                    <td class="gl_des">
                                        <p class="fw-normal mb-1">@item.GLDESP</p>
                                    </td>
                                    <td class="date">
                                        <p class="fw-normal mb-1">@date.Split(" ")[0]</p>

                                    </td>
                                    <td class="run_cr">
                                        <p class="fw-normal mb-1">@item.RUNNING_CR</p>

                                    </td>
                                    <td class="run_deb">
                                        <p class="fw-normal mb-1">@item.RUNNING_DR</p>
                                    </td>
                                    <td class="bal">
                                        <p class="fw-normal mb-1">@item.BALANCE</p>

                                    </td>


                                    <td>
                                     <a href = '/Reports/glhead_details?glcode=@item.GLCODE'>Details</a>
                                    </td>

                                </tr>
                        }
                    }}
            </tbody>


        </table>
    </div>
</div>