@{
    ViewData["Title"] = "User Wise Performance";
    Layout = "_Layout";
}

<script type="text/javascript">

    function getActivityLog() {

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_role_actuserivity_log",
            type: "POST",
            data: {
                'ROLE_ID': $('#roleGroupField').val(),
                'DEPT_ID': $('#deptField').val(),
                'AZ_ID': $('#azField').val(),
            },
            cache: false,
            success: function (data) {
                $('#userWiseActivityLog tbody').empty();
                var sr = 1;
                $.each(data, function (i, v) {
                    $('#userWiseActivityLog tbody').append('<tr><td>' + sr + '</td><td>' + v.useR_PP_NUMBER + '</td><td>' + v.useR_NAME + '</td><td>' + v.acT_DATE + '</td><td>' + v.activity + '</td><td>' + v.actions + '</td><td>' + v.duration + '</td></tr>');
                    sr++;
                });

            },
            dataType: "json",
        });
    }
</script>

<div class="row">
    <div class="col-md-12 mt-3">
        <h3 style=" display:block;color: #45c545;">Roles Wise Activity Logs / Actions Performed</h3>
    </div>
    <div class="row col-md-12 mt-3">
        <div class="col-md-2">
            <label class="text-bold">Roles / Groups</label>
        </div>
        <div class="col-md-10">
            <select id="roleGroupField" class="form-control form-select">
                <option id="0" value="0" selected="selected">--Select Relationship Type--</option>


                @{
                    if (ViewData["roleGroupList"] != null)
                    {
                        foreach (var item in (dynamic)(ViewData["roleGroupList"]))
                        {
                            <option value="@item.ENTITY_REALTION_ID" id="@item.ENTITY_REALTION_ID">@item.FIELD_NAME</option>
                        }
                    }
                }



            </select>
        </div>
    </div>
    <div class="row col-md-12 mt-3">
        <div class="col-md-2">
            <label class="text-bold">Department</label>
        </div>
        <div class="col-md-4">
            <select id="deptField" class="form-control form-select">
                <option id="0" value="0" selected="selected">--Select Relationship Type--</option>


                @{
                    if (ViewData["deptList"] != null)
                    {
                        foreach (var item in (dynamic)(ViewData["deptList"]))
                        {
                            <option value="@item.ENTITY_REALTION_ID" id="@item.ENTITY_REALTION_ID">@item.FIELD_NAME</option>
                        }
                    }
                }



            </select>
        </div>
        <div class="col-md-2">
            <label class="text-bold">Audit Clusters</label>
        </div>
        <div class="col-md-4">
            <select id="azField" class="form-control form-select">
                <option id="0" value="0" selected="selected">--Select Relationship Type--</option>


                @{
                    if (ViewData["azList"] != null)
                    {
                        foreach (var item in (dynamic)(ViewData["azList"]))
                        {
                            <option value="@item.ENTITY_REALTION_ID" id="@item.ENTITY_REALTION_ID">@item.FIELD_NAME</option>
                        }
                    }
                }



            </select>
        </div>
    </div>
    <div class="row col-md-12 mt-3">
        <div class="col-md-12">
            <button class="offset-md-8 col-md-4 btn btn-primary" onclick="getActivityLog();">Search</button>
        </div>

    </div>
    <div class="row col-md-12 mt-3">
        <table id="zoneiwseperformance" class="table table-hover table-bordered table-hover mt-3 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th class="col-md-2">Sr. No</th>
                    <th class="col-md-4">P.P. Number</th>
                    <th class="col-md-4">User Name</th>
                    <th class="col-md-4">Date Time</th>
                    <th class="col-md-4">Activity</th>
                    <th class="col-md-4">Actions</th>
                    <th class="col-md-4">Duration</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
    </div>

</div>
