@{
    ViewData["Title"] = "Functional Para View";
    Layout = "_Layout";
}

<script>

    function getrelation(parentEntityId = 0, userEntityId = 0) {


        $('#controlingsearch').empty();
        $('#childposting').empty();
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/getparentrelForDashboardPanel",
            type: "POST",
            data: {
                'ENTITY_REALTION_ID': $('#RelationshipField option:selected').val()
            },


            cache: false,
            success: function (data) {


                $('#controlingsearch').append('<option id="0" value="0">--Select Controlling/Reporting Office--</option>');
                $.each(data, function (index, contof) {

                    var selected = '';
                    if (contof.entitY_ID == parentEntityId)
                        selected = 'selected="selected"';

                    $('#controlingsearch').append('<option ' + selected + ' value="' + contof.entitY_ID + '" id="' + contof.entitY_REALTION_ID + '">' + contof.description + '</option>')
                });
                if (userEntityId != 0)
                    getplacepost(userEntityId)

                // console.log(data);

            },
            dataType: "json",
        });



    }
    function getplacepost(userEntityId = 0) {
        $('#childposting').empty();

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/getpostplaceForDashboardPanel",
            type: "POST",
            data: {
                'E_R_ID': $('#controlingsearch option:selected').val()
            },


            cache: false,
            success: function (data) {
                $('#childposting').append('<option id="0" value="0" selected="selected">--Select Place of Posting--</option>');
                $.each(data, function (index, gpp) {

                    var selected = '';
                    if (gpp.entitY_ID == userEntityId)
                        selected = 'selected="selected"';
                    $('#childposting').append('<option ' + selected + ' value="' + gpp.entitY_ID + '" id="' + gpp.entitY_ID + '">' + gpp.c_NAME + '</option>')
                });
            },
            dataType: "json",
        });

    }


    function getObservations() {
        
        destroyDatatable('entitywise_panel');
        var entId = 0;
        if ($('#childposting').val() == 0)
            entId = $('#controlingsearch').val();
        else
            entId = $('#childposting').val();

        if ($('#newAnnexlist').val() == 0) {
            alert("Select Annexure to Proceed");
            return;
        }
        if (entId == 0) {
            alert("Select Reporting Office or Place of Posting to Proceed");
            return;
        }
      
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_functional_observations",
            type: "POST",
            data: {
                'ANNEX_ID': $('#newAnnexlist').val(),
                'ENTITY_ID': entId
            },
            cache: false,
            success: function (data) {
                var sr = 1;

                $.each(data, function (index, item) {
                    $('#entitywise_panel tbody').append("<tr><td>" + sr + "</td><td>" + item.name + "</td><td>" + item.audiT_PERIOD + "</td> <td class=\"text-right\">" + item.parA_NO + "</td><td><a href=\"#\" onclick=\"getParaText('" + item.parA_REF + "','" + item.obS_ID + "', '" + item.parA_CATEGORY + "');\">View Para Text</a></td></tr>");
                    sr++;
                });
              initializeDataTable('entitywise_panel');              

            },
            dataType: "json",
        });
    }

    function getParaText(refP, obsId, pc) {
        $('#paraTextViewerModel').modal("show");
        $('#paraTextDivField').empty();

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_all_para_text",
            type: "POST",
            data: {
                'REF_P': refP,
                'OBS_ID': obsId,
                'PARA_CATEGORY': pc
            },
            cache: false,
            success: function (data) {
                $('#paraTextDivField').html(data);
            }
        });
    }

</script>
<div class="row col-md-12">
    <h3 style="color: rgb(186 113 46) !important;">Functional Responsibility for Policy/Procedure Improvement and Control Implementation</h3>
</div>


<div class="row col-md-12 mt-3">
    <div class="col-md-12">
        <label class="text-bold"><b>Annexure</b></label>
        <select id="newAnnexlist" class="form-select form-control">
            <option selected="selected" value="0" id="0">--Select Annexure--</option>
            @{
                if (ViewData["AnnexList"] != null)
                {

                    foreach (var item in (dynamic)(ViewData["AnnexList"]))
                    {
                        <option id="@item.ID" value="@item.ID">@item.ANNEX</option>
                    }

                }
            }

        </select>
    </div>
    <div class="row col-md-12 mt-3">
        <div class="col-md-2">
            <label class="text-bold">Relationship Type</label>
        </div>
        <div class="col-md-10">
            <select id="RelationshipField" onchange="getrelation();" class="form-control form-select">
                <option id="0" value="0" selected="selected">--Select Relationship Type--</option>


                @{
                    if (ViewData["Userrelationship"] != null)
                    {
                        foreach (var item in (dynamic)(ViewData["Userrelationship"]))
                        {
                            <option value="@item.ENTITY_REALTION_ID" id="@item.ENTITY_REALTION_ID">@item.FIELD_NAME</option>
                        }
                    }
                }



            </select>
        </div>
    </div>

    <div class="row col-md-12 mt-3">
        <div class="col-md-2">
            <label class="text-bold">Controlling/Reporting Office</label>
        </div>
        <div class="col-md-4">
            <select id="controlingsearch" onchange="getplacepost();" class="form-control form-select">
                <option id="0" value="0" selected="selected">--Select Controlling/Reporting Office--</option>
            </select>
        </div>


        <div class="col-md-2">
            <label class="text-bold">Place of Posting</label>
        </div>
        <div class="col-md-4">
            <select id="childposting" class="form-control form-select">
                <option id="0" value="0" selected="selected">--Select Place of Posting--</option>

            </select>
        </div>
    </div>

    <div class="row col-md-12 mt-3">
        <button class="btn btn-success col-md-2 offset-md-10" onclick="getObservations();">Search</button>
    </div>
</div>
<div class="row col-md-12">
    <div class="mt-3 col-md-12">
        <table id="entitywise_panel" class="table table-hover table-bordered table-hover mt-3 table-striped">
            <thead style="background-color: #FF5722 !important; ">
                <tr>
                    <th class="col-md-auto text-light">Sr. No.</th>
                    <th class="col-md-auto text-light">Entity Name</th>
                    <th class="col-md-auto text-center text-light">Audit Period</th>
                    <th class="col-md-auto text-center text-light">Para No</th>
                    <th class="col-md-auto text-center text-light"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div id="paraTextViewerModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Para Text</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="mt-3 modal-body">
                <form>
                    <div class="row mt-3 col-md-12">
                        <div id="paraTextDivField" style="max-width:100%; overflow-y:auto;" class="col-md-12"></div>

                    </div>


                </form>
            </div>

            <div class="mt-3 modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>